<a href="https://colab.research.google.com/github/Gabriel-Amorim-dev/Alura/blob/main/Aula1_DataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 1

In [6]:
import pandas as pd

leitura do arquivo CSV

In [45]:
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

**Informações iniciais acerca do dataset importado.**

---

### *Vantagens:*

* Nos ajuda a ter uma **visão inicial** acerca da data importada  
* Ajuda a **planejar o rumo de ação** com as informações dos dados fornecidos

In [49]:
df.info()
#COMPREENSÃO DA INFO DO MEU DATASET

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB


### **Describe**

A função `.describe()` fornece dados estatísticos acerca do nosso arquivo, mas também pode ser usada para extração de colunas específicas (quantidade de valores não nulos, máximo, mínimo, padrão).

---

### Exemplo:

```python
# df['Cargo'].describe()
````

Esse comando fornece os dados estatísticos possíveis de obter na coluna de Cargos.
Levando em consideração que a coluna não é do tipo numérico, ela oferece informações não numéricas (Moda, Frequência da Moda, Número de não nulos).

---

### *Vantagens:*

1. Útil para a extração de dados extremos
2. Entender a dispersão e concentração numérica dos valores

In [15]:
df['Salário (local)'].describe()

count    1.333490e+05
mean     1.632833e+05
std      2.173860e+05
min      1.400000e+04
25%      1.060200e+05
50%      1.470000e+05
75%      1.990000e+05
max      3.040000e+07
Name: Salário (local), dtype: float64


### **Shape**

A função `.shape` não é um método, mas sim um atributo do DataFrame que retorna uma tupla com duas informações:  
→ número de linhas (registros) e número de colunas (variáveis) no seu DataFrame.

---

### Exemplo:

```python
df.shape
````

Esse comando retorna algo como:

```
(1000, 10)
```

Isso significa que o DataFrame possui **1000 linhas** e **10 colunas**.

---

### *Vantagens:*

1. Ideal para verificar a dimensão do dataset
2. Útil para saber se há dados suficientes para análise
3. Pode ser usado em etapas de validação, como antes e depois de tratamentos de dados (por exemplo, remoção de nulos ou duplicados)

In [ ]:
linhas, colunas = df.shape[0], df.shape[1]
print(f'O programa tem, {linhas} linhas')
print(f'O programa tem, {colunas} colunas')

### **Dicionário**

A função 'dicionário' foi definida para gerar um bloco de traduções de termos e siglas do documento original que poderiam dificultar a leitura agradável dos valores documentados nos dados do arquivo.

Assim, a tradução ou adaptação de certos aspectos contribui para a extração e manipulação eficaz de dados.

In [13]:
def dicionario():
      contrato = {
                'PT': 'Meio Período',
                'FT': 'Integral',
                'CT': 'Contrato',
                'FL': 'Freelancer'
      }
      nivel = {
                'SE': 'Senior',
                'MI': 'Pleno',
                'EN': 'Junior',
                'EX': 'Executivo'
      }
      tamanho = {
                'S': 'Pequeno',
                'M': 'Médio',
                'L': 'Grande'
      }
      moeda = {
                'USD': 'Dólar americano',
                'EUR': 'Euro',
                'GBP': 'Libra esterlina',

      }
      loc_empresa = {
          'US': 'Estados Unidos',
          'AU': 'Austrália',
          'CA': 'Canadá',
          'JP': 'Japão',
          'GB': 'Reino Unido',
          'MX': 'México',
          'NL': 'Países Baixos',
          'ES': 'Espanha',
          'FR': 'França',
          'MT': 'Malta',
          'LT': 'Lituânia',
          'PH': 'Filipinas',
          'NZ': 'Nova Zelândia',
          'DE': 'Alemanha',
          'LV': 'Letônia',
          'IE': 'Irlanda',
          'MK': 'Macedônia do Norte',
          'AT': 'Áustria',
          'PL': 'Polônia',
          'SK': 'Eslováquia',
          'BR': 'Brasil',
          'SI': 'Eslovênia',
          'FI': 'Finlândia',
          'HK': 'Hong Kong',
          'LS': 'Lesoto',
          'IN': 'Índia',
          'JM': 'Jamaica',
          'CH': 'Suíça',
          'BE': 'Bélgica',
          'PE': 'Peru',
          'SG': 'Singapura',
          'PT': 'Portugal',
          'IT': 'Itália',
          'HU': 'Hungria',
          'RO': 'Romênia',
          'AR': 'Argentina',
          'ZA': 'África do Sul',
          'PA': 'Panamá',
          'EE': 'Estônia',
          'LU': 'Luxemburgo',
          'DZ': 'Argélia',
          'EG': 'Egito',
          'CL': 'Chile',
          'GR': 'Grécia',
          'KE': 'Quênia',
          'CD': 'República Democrática do Congo',
          'SE': 'Suécia',
          'KR': 'Coreia do Sul',
          'TW': 'Taiwan',
          'NO': 'Noruega',
          'CZ': 'Tchéquia',
          'TR': 'Turquia',
          'CY': 'Chipre',
          'CO': 'Colômbia',
          'DK': 'Dinamarca',
          'AE': 'Emirados Árabes Unidos',
          'BG': 'Bulgária',
          'ID': 'Indonésia',
          'JO': 'Jordânia',
          'RS': 'Sérvia',
          'UA': 'Ucrânia',
          'PR': 'Porto Rico',
          'SV': 'El Salvador',
          'EC': 'Equador',
          'DO': 'República Dominicana',
          'MY': 'Malásia',
          'XK': 'Kosovo',
          'CR': 'Costa Rica',
          'ZM': 'Zâmbia',
          'AM': 'Armênia',
          'IL': 'Israel',
          'LB': 'Líbano',
          'NG': 'Nigéria',
          'HR': 'Croácia',
          'PK': 'Paquistão',
          'HN': 'Honduras',
          'VE': 'Venezuela',
          'AS': 'Samoa Americana',
          'SA': 'Arábia Saudita',
          'OM': 'Omã',
          'BA': 'Bósnia e Herzegovina',
          'VN': 'Vietnã',
          'GI': 'Gibraltar',
          'MU': 'Maurício',
          'RU': 'Rússia',
          'QA': 'Catar',
          'GH': 'Gana',
          'AD': 'Andorra',
          'CF': 'República Centro-Africana',
          'TH': 'Thailand',
          'IR': 'Iran',
          'BS': 'Bahamas',
          'IQ': 'Iraque',
          'CN': 'China',
          'MD': 'Moldova'
      }
      loc_func = {
          'US': 'Estados Unidos',
          'AU': 'Austrália',
          'CA': 'Canadá',
          'JP': 'Japão',
          'GB': 'Reino Unido',
          'MX': 'México',
          'NL': 'Países Baixos',
          'ES': 'Espanha',
          'FR': 'França',
          'MT': 'Malta',
          'LT': 'Lituânia',
          'PH': 'Filipinas',
          'NZ': 'Nova Zelândia',
          'DE': 'Alemanha',
          'LV': 'Letônia',
          'IE': 'Irlanda',
          'MK': 'Macedônia do Norte',
          'AT': 'Áustria',
          'PL': 'Polônia',
          'SK': 'Eslováquia',
          'BR': 'Brasil',
          'SI': 'Eslovênia',
          'FI': 'Finlândia',
          'HK': 'Hong Kong',
          'LS': 'Lesoto',
          'IN': 'Índia',
          'JM': 'Jamaica',
          'CH': 'Suíça',
          'BE': 'Bélgica',
          'PE': 'Peru',
          'SG': 'Singapura',
          'PT': 'Portugal',
          'IT': 'Itália',
          'HU': 'Hungria',
          'RO': 'Romênia',
          'AR': 'Argentina',
          'ZA': 'África do Sul',
          'PA': 'Panamá',
          'EE': 'Estônia',
          'LU': 'Luxemburgo',
          'DZ': 'Argélia',
          'EG': 'Egito',
          'CL': 'Chile',
          'GR': 'Grécia',
          'KE': 'Quênia',
          'CD': 'República Democrática do Congo',
          'SE': 'Suécia',
          'KR': 'Coreia do Sul',
          'TW': 'Taiwan',
          'NO': 'Noruega',
          'CZ': 'Tchéquia',
          'TR': 'Turquia',
          'CY': 'Chipre',
          'CO': 'Colômbia',
          'DK': 'Dinamarca',
          'AE': 'Emirados Árabes Unidos',
          'BG': 'Bulgária',
          'ID': 'Indonésia',
          'JO': 'Jordânia',
          'RS': 'Sérvia',
          'UA': 'Ucrânia',
          'PR': 'Porto Rico',
          'SV': 'El Salvador',
          'EC': 'Equador',
          'DO': 'República Dominicana',
          'MY': 'Malásia',
          'XK': 'Kosovo',
          'CR': 'Costa Rica',
          'ZM': 'Zâmbia',
          'AM': 'Armênia',
          'IL': 'Israel',
          'LB': 'Líbano',
          'NG': 'Nigéria',
          'HR': 'Croácia',
          'PK': 'Paquistão',
          'HN': 'Honduras',
          'VE': 'Venezuela',
          'AS': 'Samoa Americana',
          'SA': 'Arábia Saudita',
          'OM': 'Omã',
          'BA': 'Bósnia e Herzegovina',
          'VN': 'Vietnã',
          'GI': 'Gibraltar',
          'MU': 'Maurício',
          'RU': 'Rússia',
          'QA': 'Catar',
          'GH': 'Gana',
          'AD': 'Andorra',
          'CF': 'República Centro-Africana',
          'TH': 'Thailand',
          'IR': 'Iran',
          'BS': 'Bahamas',
          'IQ': 'Iraque',
          'CN': 'China',
          'MD': 'Moldova'
      }

      return contrato, nivel, tamanho, moeda, loc_empresa, loc_func

contrato_map, nivel_map, tamanho_map, moeda_map, loc_empresa_map, loc_func_map = dicionario()

df['Contrato'] = df['Contrato'].replace(contrato_map)

df['Nível'] = df['Nível'].replace(nivel_map)

df['Moeda'] = df['Moeda'].replace(moeda_map)

df['Local Empresa'] = df['Local Empresa'].replace(loc_empresa_map)

df['Residência'] = df['Residência'].replace(loc_func_map)

df['Tamanho'] = df['Tamanho'].replace(tamanho_map)

### **Rename**

---

A função `.rename()` tem como principal função o renomear colunas ou índices (linhas) de um DataFrame sem precisar necessariamente recriá-lo.

É muito útil para a limpeza dos dados, especialmente quando os nomes estão em algum idioma não falado pelo analista ou por qualquer responsável pela informação.

Nesse Dashboard, substitui termos em inglês que não possuíam uma visibilidade amigável por termos simples em português.

O parâmetro `inplace=True` indica que a modificação será feita no DataFrame original, renomeando-a no próprio objeto.

In [12]:
df.rename(columns={
    'work_year': 'Ano',
    'experience_level': 'Nível',
    'employment_type': 'Contrato',
    'job_title': 'Cargo',
    'salary': 'Salário (local)',
    'salary_currency': 'Moeda',
    'salary_in_usd': 'Salário (USD)',
    'employee_residence': 'Residência',
    'remote_ratio': 'Remoto (%)',
    'company_location': 'Local Empresa',
    'company_size': 'Tamanho'
}, inplace=True)

### **Organização por Tipo de Dados**

---

Esse bloco de código tem como objetivo organizar e exibir as colunas do DataFrame `df` agrupadas por tipo de dado, o que facilita a leitura e a análise.

### 🔍 O que o código faz:

```python
types = df.dtypes
````

Retorna os tipos de dados de cada coluna do DataFrame (ex: `float64`, `int64`, `object`).

```python
# float_cols = types[types == 'float64'].index.tolist()
# int_cols = types[types == 'int64'].index.tolist()
# obj_cols = types[types == 'object'].index.tolist()
```

Cria 3 listas separadas com os nomes das colunas, agrupando por tipo:

```text
float_cols: colunas com números decimais (float64)

int_cols: colunas com números inteiros (int64)

obj_cols: colunas com textos ou categorias (object)
```

```python
columns_order = float_cols + int_cols + obj_cols
df = df[columns_order]
```

Reorganiza o DataFrame colocando as colunas em uma ordem lógica: primeiro floats, depois ints, por fim os objetos.

```python
df.head().style.set_properties(**{'text-align': 'center'}).set_table_styles(
    [dict(selector='th', props=[('text-align', 'center')])]
)
```

Formata a exibição da tabela para alinhar os dados e títulos ao centro.

```python
display(df.head(10))
```

Mostra os 10 primeiros registros já organizados e centralizados.

---

### *✅ Vantagens:*

* Torna a leitura do DataFrame mais limpa e estruturada
* Ajuda a identificar rapidamente quais tipos de dados estão presentes
* Facilita análises estatísticas e visuais ao agrupar colunas semelhantes
* Deixa a apresentação dos dados mais profissional e clara, especialmente em notebooks e dashboards

In [16]:
types = df.dtypes


float_cols = types[types == 'float64'].index.tolist()
int_cols = types[types == 'int64'].index.tolist()
obj_cols = types[types == 'object'].index.tolist()

columns_order = float_cols + int_cols + obj_cols
df = df[columns_order]

df.head().style.set_properties(**{'text-align': 'center'}).set_table_styles(
    [dict(selector='th', props=[('text-align', 'center')])]
)

display(df.head(10))

,Ano,Salário (local),Salário (USD),Remoto (%),Nível,Contrato,Cargo,Moeda,Residência,Local Empresa,Tamanho
0,2025.0,214000,214000,100,Senior,Integral,Solutions Engineer,Dólar americano,Estados Unidos,Estados Unidos,Médio
1,2025.0,136000,136000,100,Senior,Integral,Solutions Engineer,Dólar americano,Estados Unidos,Estados Unidos,Médio
2,2025.0,158800,158800,0,Pleno,Integral,Data Engineer,Dólar americano,Austrália,Austrália,Médio
3,2025.0,139200,139200,0,Pleno,Integral,Data Engineer,Dólar americano,Austrália,Austrália,Médio
4,2025.0,90000,90000,0,Junior,Integral,Data Engineer,Dólar americano,Estados Unidos,Estados Unidos,Médio
5,2025.0,80000,80000,0,Junior,Integral,Data Engineer,Dólar americano,Estados Unidos,Estados Unidos,Médio
6,2025.0,185000,185000,0,Senior,Integral,Data Scientist,Dólar americano,Estados Unidos,Estados Unidos,Médio
7,2025.0,148000,148000,0,Senior,Integral,Data Scientist,Dólar americano,Estados Unidos,Estados Unidos,Médio
8,2025.0,135000,135000,0,Pleno,Integral,Data Scientist,Dólar americano,Canadá,Canadá,Médio
9,2025.0,108000,108000,0,Pleno,Integral,Data Scientist,Dólar americano,Canadá,Canadá,Médio

**Operações Interativas em Colunas do DataFrame**



---



Esse código permite que o usuário escolha uma coluna do DataFrame para realizar diversas operações exploratórias simples, facilitando a análise de dados sem precisar digitar comandos manualmente.

🔍 O que o código faz:
```
print('Informações Disponíveis:')
print(df.columns.tolist())
info = input('Qual informação você quer saber? ')
```
Exibe as colunas disponíveis no DataFrame.

Recebe do usuário o nome da coluna que ele quer analisar.

```
def operations(coluna):
  print('\nEscolha a operação que deseja realizar:')
  print('1 - Ver primeiras linhas')
  print('2 - Ver últimas linhas')
  print('3 - Ver tipo de dado e nulos')
  print('4 - Ver estatísticas')
  print('5 - Ver quantos valores nulos')
  print('6 - Ver quantas duplicadas')
  print('7 - Ver quantos valores')
  ```
Define um menu com 7 opções de operações para explorar a coluna escolhida.
```
func = int(input('Digite o número da operação: '))
```
Recebe a operação que o usuário deseja executar.
```
match func:

  case 1:
    print(df[coluna].head())
  case 2:
    print(df[coluna].tail())
  case 3:
    print(f"Tipo de dado: {df[coluna].dtype}")
    print(f"Quantidade de nulos: {df[coluna].isnull().sum()}")
  case 4:
    print(df[coluna].describe())
  case 5:
    print(f"Valores nulos: {df[coluna].isnull().sum()}")
  case 6:
    print(f"Duplicadas: {df[coluna].duplicated().sum()}")
  case 7:
    print(f'Contagem de Valores: {df[coluna].value_counts()}')
  case _:
    print("Opção inválida.")
```
Executa a operação selecionada pelo usuário:

1: mostra as primeiras 5 linhas da coluna.

2: mostra as últimas 5 linhas da coluna.

3: mostra o tipo de dado da coluna e a quantidade de valores nulos.

4: mostra as estatísticas descritivas da coluna (média, quartis, etc.).

5: conta quantos valores nulos a coluna possui.

6: conta quantas linhas duplicadas a coluna possui.

7: mostra a contagem de valores únicos da coluna.

Caso o número seja inválido, avisa o usuário.

```
operations(info)
```
Chama a função operations passando a coluna escolhida para executar a operação.

*✅ Vantagens:*



---



Interface simples para explorar qualquer coluna rapidamente.

Facilita análise exploratória sem precisar lembrar de comandos Pandas.

Permite obter informações básicas, estatísticas e dados sobre qualidade da coluna (nulos e duplicados).

Pode ser ampliado com mais operações conforme a necessidade.

In [17]:
print('Informações Disponíveis:')
print(df.columns.tolist())
info = input('Qual informação você quer saber? ')

def operations(coluna):
  print('\nEscolha a operação que deseja realizar:')
  print('1 - Ver primeiras linhas\n')
  print('2 - Ver últimas linhas\n')
  print('3 - Ver tipo de dado e nulos\n')
  print('4 - Ver estatísticas\n')
  print('5 - Ver quantos valores nulos\n')
  print('6 - Ver quantas duplicadas\n')
  print('7 - Ver quantos valores\n')
  print('\n')


  func = int(input('Digite o número da operação: '))

  match func:
    case 1:
      print(df[coluna].head())
    case 2:
      print(df[coluna].tail())
    case 3:
      print(f"Tipo de dado: {df[coluna].dtype}")
      print(f"Quantidade de nulos: {df[coluna].isnull().sum()}")
    case 4:
      print(df[coluna].describe())
    case 5:
      print(f"Valores nulos: {df[coluna].isnull().sum()}")
    case 6:
      print(f"Duplicadas: {df[coluna].duplicated().sum()}")
    case 7:
      print(f'Contagem de Valores: {df[coluna].value_counts()}')
    case _:
      print("Opção inválida.")

operations(info)

Informações Disponíveis:
['Ano', 'Salário (local)', 'Salário (USD)', 'Remoto (%)', 'Nível', 'Contrato', 'Cargo', 'Moeda', 'Residência', 'Local Empresa', 'Tamanho']
Qual informação você quer saber? Ano

Escolha a operação que deseja realizar:
1 - Ver primeiras linhas

2 - Ver últimas linhas

3 - Ver tipo de dado e nulos

4 - Ver estatísticas

5 - Ver quantos valores nulos

6 - Ver quantas duplicadas

7 - Ver quantos valores



Digite o número da operação: 1
0    2025.0
1    2025.0
2    2025.0
3    2025.0
4    2025.0
Name: Ano, dtype: float64



###**Gráficos Interativos para Análise de Dados**

Esse código permite que o usuário escolha uma coluna categórica e uma coluna numérica do DataFrame para visualizar diferentes tipos de gráficos, facilitando a exploração visual dos dados.

---

 **🔍 O que o código faz:**

```python
print('Informações Disponíveis:')
print(df.columns.tolist())
````

* Exibe as colunas disponíveis no DataFrame para ajudar o usuário a escolher.

```python
info_categoria = input('Qual coluna categórica você quer analisar? ')
info_valor = input('Qual valor numérico você quer visualizar (ex: salary_in_usd)? ')
```

* Solicita ao usuário o nome da coluna categórica (ex: cargo, país) e da coluna numérica (ex: salário).

```python
if info_categoria not in df.columns or info_valor not in df.columns:
    raise ValueError("Coluna não encontrada.")
```

* Verifica se as colunas existem no DataFrame.

```python
if not pd.api.types.is_numeric_dtype(df[info_valor]):
    raise TypeError("A variável inserida não é numérica!")
```

* Garante que a coluna numérica realmente contém valores numéricos.

```python
info_calc = df.groupby(info_categoria)[info_valor].mean().sort_values(ascending=False)
```

* Agrupa os dados pela categoria escolhida e calcula a média do valor numérico para cada grupo, ordenando do maior para o menor.

---

### 🎨 Menu de gráficos:

```python
print('\nEscolha o gráfico que deseja analisar:')
print('1 - Gráfico de Barras')
print('2 - Gráfico de Pizza (só para poucos itens)')
print('3 - Gráfico de Caixa (Boxplot)')
print('4 - Gráfico de Linhas')
print('5 - Scatterplot')
```

O usuário escolhe o gráfico que deseja visualizar.

---

### 🎯 O que cada gráfico faz:

| Opção | Gráfico                        | Descrição                                                                                              |
| ----- | ------------------------------ | ------------------------------------------------------------------------------------------------------ |
| 1     | **Gráfico de Barras**          | Compara a média da variável numérica para cada categoria, mostrando barras ordenadas.                  |
| 2     | **Gráfico de Pizza**           | Mostra a proporção das 10 maiores categorias, útil para poucas categorias.                             |
| 3     | **Gráfico de Caixa (Boxplot)** | Exibe a distribuição, quartis e possíveis outliers da variável numérica para cada categoria.           |
| 4     | **Gráfico de Linhas**          | Mostra a tendência da média da variável numérica ao longo das categorias (útil para séries temporais). |
| 5     | **Scatterplot**                | Mostra a dispersão dos dados individuais da variável numérica em relação às categorias.                |

---

### 🖥️ Como o código gera os gráficos:

* Cada opção chama a função específica do Matplotlib/Seaborn para desenhar o gráfico com as configurações de títulos, rótulos e tamanhos adequados.
* Gráficos são exibidos em janela de visualização ou notebook.
* O código trata entrada inválida de forma simples.

---

### *✅ Vantagens:*

* Permite uma exploração visual rápida e personalizada de dados.
* Facilita a identificação de padrões, tendências e anomalias.
* Pode ser usado em notebooks para análises interativas.
* Com poucos comandos, gera gráficos claros e informativos.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Mostra as colunas
print('Informações Disponíveis:')
print(df.columns.tolist())

try:
    info_categoria = input('Qual coluna categórica você quer analisar? ')
    info_valor = input('Qual valor numérico você quer visualizar (ex: salary_in_usd)? ')

    # Verifica se as colunas existem
    if info_categoria not in df.columns or info_valor not in df.columns:
        raise ValueError("Coluna não encontrada.")

    # Verifica se a coluna de valor é numérica
    if not pd.api.types.is_numeric_dtype(df[info_valor]):
        raise TypeError("A variável inserida não é numérica!")

    # Agrupamento
    info_calc = df.groupby(info_categoria)[info_valor].mean().sort_values(ascending=False)

except Exception as e:
    print(f'Erro: {e}')
else:
    def graficos():
        print('\nEscolha o gráfico que deseja analisar:')
        print('1 - Gráfico de Barras')
        print('2 - Gráfico de Pizza (só para poucos itens)')
        print('3 - Gráfico de Caixa (Boxplot)')
        print('4 - Gráfico de Linhas')
        print('5 - Scatterplot')

        try:
            func = int(input('Digite o número da operação: '))
        except ValueError:
            print("Entrada inválida. Digite um número.")
            return

        match func:
            case 1:
                plt.figure(figsize=(10, 6))
                sns.barplot(x=info_calc.values, y=info_calc.index)
                plt.xlabel(f'Média de {info_valor}')
                plt.ylabel(info_categoria)
                plt.title(f'Média de {info_valor} por {info_categoria}')
                plt.tight_layout()
                plt.show()

            case 2:
                top10 = info_calc.head(10)
                plt.figure(figsize=(8, 8))
                plt.pie(top10, labels=top10.index, autopct='%1.1f%%')
                plt.title(f'Top 10 {info_categoria} por média de {info_valor}')
                plt.show()

            case 3:
                plt.figure(figsize=(10, 6))
                sns.boxplot(x=info_categoria, y=info_valor, data=df)
                plt.xticks(rotation=45)
                plt.title(f'Distribuição de {info_valor} por {info_categoria}')
                plt.tight_layout()
                plt.show()

            case 4:
                plt.figure(figsize=(12, 6))
                sns.lineplot(x=info_calc.index, y=info_calc.values, marker='o')
                plt.title(f'Tendência da média de {info_valor} por {info_categoria}')
                plt.ylabel(f'{info_valor}')
                plt.xlabel(info_categoria)
                plt.xticks(rotation=45)
                plt.tight_layout()
                plt.show()

            case 5:
                plt.figure(figsize=(10, 6))
                sns.scatterplot(data=df, x=info_categoria, y=info_valor)
                plt.title(f'Dispersão de {info_valor} por {info_categoria}')
                plt.xticks(rotation=45)
                plt.tight_layout()
                plt.show()

            case _:
                print("Opção inválida.")

    graficos()

# Aula 2

###**Identificando Valores Nulos no DataFrame**
---

Esse comando verifica, para cada célula do DataFrame, se o valor é nulo (ausente). Ele retorna um DataFrame booleano de mesma dimensão, onde cada posição indica se o valor correspondente é nulo (`True`) ou não (`False`).

---

### 🔍 O que o código faz:

```python
df.isnull()
```

* Analisa todas as colunas e linhas do DataFrame.
* Retorna um novo DataFrame com valores booleanos (`True` para valores nulos e `False` para valores não nulos).
* Permite identificar exatamente onde estão os dados faltantes.

---

### ✅ Vantagens:

* Facilita a visualização e localização de valores ausentes nos dados.
* Pode ser usado para análises e operações de limpeza, como remoção ou preenchimento de dados nulos.
* É uma etapa fundamental na preparação e pré-processamento de dados para garantir qualidade nas análises.

---

Quer que eu faça um texto para algum outro comando ou função?

In [ ]:
df.isnull()

###**Contagem de Valores Nulos por Coluna no DataFrame**

---

Esse comando conta quantos valores ausentes (nulos) existem em cada coluna do DataFrame, facilitando a análise da qualidade dos dados.

---

### 🔍 O que o código faz:

```python
df.isnull().sum()
```

* Primeiro, `df.isnull()` cria um DataFrame booleano indicando onde os valores são nulos (`True`) ou não (`False`).
* Em seguida, `.sum()` soma esses valores `True` em cada coluna — como `True` equivale a 1 e `False` a 0, o resultado é a quantidade total de valores nulos por coluna.
* Retorna uma Série onde o índice são os nomes das colunas e os valores são as contagens de valores nulos.

---

### ✅ Vantagens:

* Permite identificar rapidamente quais colunas possuem dados faltantes e em que quantidade.
* Auxilia na tomada de decisão para limpeza dos dados, como remoção ou preenchimento de nulos.
* Facilita a avaliação geral da qualidade do DataFrame.

---

Se quiser, posso ajudar com textos para outros comandos também!

In [ ]:
df.isnull().sum()



###**Explorando Valores Únicos de uma Coluna do DataFrame**

---

Esse código permite que o usuário veja todos os valores únicos presentes em uma coluna específica do DataFrame, facilitando a compreensão da variedade e tipos de dados que essa coluna contém.

---

 🔍 O que o código faz:

```python
print('Informações Disponíveis:')
print(df.columns.tolist())
info = input('Qual informação você quer saber? ')
```

* Exibe para o usuário a lista de colunas disponíveis no DataFrame.
* Solicita que o usuário informe o nome da coluna que deseja analisar.

```python
try:
    if info not in df.columns:
        raise ValueError("Coluna não encontrada.")
except ValueError as e:
    print(f'Erro: {e}')
```

* Verifica se a coluna informada existe no DataFrame.
* Caso não exista, mostra uma mensagem de erro personalizada.

```python
else:
    df[info].unique()
    print(df[info].unique())
```

* Se a coluna existir, recupera e exibe todos os valores únicos presentes nela.
* Isso ajuda a entender quais categorias, rótulos ou valores distintos aquela coluna possui.

---

### ✅ Vantagens:

* Permite uma exploração rápida e fácil dos dados únicos em qualquer coluna.
* Ajuda a identificar categorias ou valores que podem ser importantes para análise, limpeza ou visualização.
* Pode auxiliar na detecção de erros, inconsistências ou dados inesperados na coluna.

In [41]:
print('Informações Disponíveis:')
print(df.columns.tolist())
info = input('Qual informação você quer saber? ')

try:
    if info not in df.columns:
        raise ValueError("Coluna não encontrada.")
except ValueError as e:
    print(f'Erro: {e}')
else:
    df[info].unique()
    print(df[info].unique())

Informações Disponíveis:
['Aluno', 'Turma', 'Nota', 'Matéria Fav', 'Faltas']
Qual informação você quer saber? Aluno
['João' 'Julio' 'Helo' 'Cynthia' 'Cássio' 'Julia' 'Fillipo' 'Fernanda'
 'Caio' 'Priscilla']

###**Filtrando Linhas com Valores Nulos no DataFrame**

---

Esse comando permite que você selecione todas as linhas do DataFrame que possuem pelo menos um valor nulo, facilitando a identificação e análise dessas linhas para limpeza ou tratamento dos dados.

---

 🔍 O que o código faz:

```python
df.isnull()
```

* Cria um DataFrame booleano, onde cada célula indica se o valor correspondente é nulo (`True`) ou não (`False`).

```python
df.isnull().any(axis=1)
```

* Para cada linha (`axis=1`), verifica se existe **qualquer** valor nulo (`True`).
* Retorna uma série booleana, onde `True` indica que a linha tem pelo menos um valor nulo.

```python
df[df.isnull().any(axis=1)]
```

* Usa essa série booleana para filtrar o DataFrame original, retornando **apenas as linhas que contêm valores nulos** em alguma coluna.

---

### ✅ Vantagens:

* Facilita encontrar todas as linhas que precisam de atenção para tratamento de dados ausentes.
* Útil para análises exploratórias, para entender onde estão os dados faltantes.
* Permite ações posteriores, como remoção, preenchimento ou análise específica dessas linhas.

---

Quer que eu crie um texto assim para algum outro comando?

In [48]:
df[df.isnull().any(axis=1)]

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
5588,NaN,SE,FT,Product Manager,184500,USD,184500,US,0,US,M
59692,NaN,MI,FT,Engineer,110000,USD,110000,DE,0,DE,M
59710,NaN,EN,FT,Data Scientist,208800,USD,208800,US,0,US,M
59759,NaN,SE,FT,Software Engineer,135000,USD,135000,US,0,US,M
59789,NaN,SE,FT,Engineer,112000,USD,112000,US,0,US,M
131000,NaN,SE,FT,Machine Learning Engineer,163800,USD,163800,US,0,US,M
131006,NaN,SE,FT,Data Analytics Manager,204500,USD,204500,US,0,US,M
133054,NaN,EN,FT,Data Scientist,40000,USD,40000,JP,100,MY,L
133281,NaN,MI,FT,Machine Learning Engineer,180000,PLN,46597,PL,100,PL,L
133317,NaN,MI,FT,Data Scientist,130000,USD,130000,US,50,US,L

###**Criação Interativa de DataFrame Personalizado**

---

Este código permite que o usuário crie um DataFrame do zero, definindo o número de linhas e colunas, nomeando as colunas e preenchendo manualmente os valores, inclusive podendo inserir valores nulos.

---

 🔍 O que o código faz:

```python
num_linhas = limite('Quantas linhas terá seu DataFrame (Máx 20):', max_limit)
num_colunas = limite('Quantas colunas terá seu DataFrame (Máx 20):', max_limit)
```

* Solicita ao usuário o número de linhas e colunas que o DataFrame terá, limitando a 20 para manter o tamanho manejável.

```python
colunas = []
for i in range (num_colunas):
    nome = input(f'Digite o nome da coluna {i+1}: ')
    colunas.append(nome)
```

* Recebe o nome de cada coluna do DataFrame, garantindo que o usuário personalize as etiquetas das colunas.

```python
for i in range (num_linhas):
    linha = []
    print(f"\n--- Preenchendo linha {i+1} ---")
    for col in colunas:
        valor = input(f'Insira o valor aqui para a coluna "{col}" (Ou digite NaN para deixar vázio): ')
        if valor.lower() == 'nan':
            linha.append(np.nan)
        else:
            linha.append(valor)
    dados.append(linha)
```

* Para cada linha, o código pede ao usuário que insira os valores de cada coluna.
* Se o usuário digitar "NaN" (case-insensitive), o valor é registrado como valor nulo (NaN) no DataFrame.

```python
DFN = pd.DataFrame(dados, columns=colunas)
print("\nDataFrame criado:")
print(DFN)
```

* Finalmente, os dados são organizados em um DataFrame do Pandas com os nomes de colunas definidos pelo usuário.
* O DataFrame criado é exibido na tela para conferência.

---

### ✅ Vantagens:

* Permite criar um DataFrame personalizado, ajustado às necessidades do usuário.
* Facilita a inclusão manual de dados sem precisar criar arquivos externos.
* Suporta a criação de valores ausentes para simular dados reais incompletos.
* Útil para testes, experimentos ou para aprender manipulação de dados no Pandas.

In [43]:
import pandas as pd
import numpy as np

max_limit = 20

def limite(prompt, limit):
    while True:
      try:
          value = int(input(prompt))
          if 1 <= value <= limit:
              return value
          else:
              print(f"Digite um valor de 1 até {limit}.")
      except ValueError:
          print("Entrada inválida. Por favor, digite um número inteiro.")

num_linhas = limite('Quantas linhas terá seu DataFrame (Máx 20):', max_limit)
num_colunas = limite('Quantas colunas terá seu DataFrame (Máx 20):', max_limit)

colunas = []
for i in range (num_colunas):
          nome = input(f'Digite o nome da coluna {i+1}: ')
          colunas.append(nome)

dados = []
for i in range (num_linhas):
      linha = []
      print(f"\n--- Preenchendo linha {i+1} ---")
      for col in colunas:
          valor = input(f'Insira o valor aqui para a coluna "{col}" (Ou digite NaN para deixar vázio): ')
          if valor.lower() == 'nan':
              linha.append(np.nan)
          else:
              linha.append(valor)

      dados.append(linha)

DFN = pd.DataFrame(dados, columns=colunas)

print("\nDataFrame criado:")
print(DFN)

Quantas linhas terá seu DataFrame (Máx 20):6
Quantas colunas terá seu DataFrame (Máx 20):5
Digite o nome da coluna 1: Nome
Digite o nome da coluna 2: Idade
Digite o nome da coluna 3: Cidade
Digite o nome da coluna 4: Nota
Digite o nome da coluna 5: Faltas

--- Preenchendo linha 1 ---
Insira o valor aqui para a coluna "Nome" (Ou digite NaN para deixar vázio): Gabriela
Insira o valor aqui para a coluna "Idade" (Ou digite NaN para deixar vázio): 20
Insira o valor aqui para a coluna "Cidade" (Ou digite NaN para deixar vázio): Macapá
Insira o valor aqui para a coluna "Nota" (Ou digite NaN para deixar vázio): 10
Insira o valor aqui para a coluna "Faltas" (Ou digite NaN para deixar vázio): 1

--- Preenchendo linha 2 ---
Insira o valor aqui para a coluna "Nome" (Ou digite NaN para deixar vázio): Julia
Insira o valor aqui para a coluna "Idade" (Ou digite NaN para deixar vázio): São Paulo

KeyboardInterrupt: Interrupted by user

### 🧹 Limpeza Interativa de Dados no DataFrame

---

Esse código permite que o usuário escolha um DataFrame e realize operações interativas para identificar, remover ou preencher valores ausentes, facilitando o tratamento de dados sem precisar digitar comandos manualmente.

---

### 🔍 O que o código faz:

```python
nome_df = input('Qual DataFrame você quer limpar? ')
```

* Recebe do usuário o nome do DataFrame que deseja limpar.

```python
def operations_limp(df_to_clean):
    print('\nEscolha a operação de limpeza que deseja realizar:')
    print('1 - Achar Valores Nulos')
    print('2 - Achar Valores Não Nulos')
    print('3 - Contar Valores Ausentes')
    print('4 - Remover Valores Ausentes')
    print('5 - Preencher Valor Ausente')
```

* Exibe um menu com as operações principais para limpeza dos dados.

```python
func = int(input('Digite o número da operação: '))
match func:
    case 1:
        print(df_to_clean.isnull())
    case 2:
        print(df_to_clean.notnull())
    case 3:
        print(df_to_clean.isnull().sum())
    case 4:
        limpar_nulos(df_to_clean)
    case 5:
        preencher_nulos(df_to_clean)
```

* Executa a operação escolhida, mostrando os dados nulos ou não, contando, removendo ou preenchendo valores ausentes.

---
| 🎯 **Menu Principal** | **Descrição**                                  |
|----------------------|------------------------------------------------|
| 1                    | Mostrar onde há valores nulos no DataFrame     |
| 2                    | Mostrar onde há valores não nulos               |
| 3                    | Contar a quantidade de valores ausentes         |
| 4                    | Remover valores ausentes (linhas/colunas)       |
| 5                    | Preencher valores ausentes com estratégias      |

---


### ✨ Operações para remover valores ausentes:

```python
def limpar_nulos(df_to_clean):
    print('Como Deseja Prosseguir?')
    print('1 - Remover Linhas Nulas')
    print('2 - Remover Colunas Nulas')
    print('3 - Remover Coluna Específica')
    print('4 - Remover Linha Específica')
```

* Oferece opções para remover linhas, colunas, ou excluir linhas/colunas específicas.

* Antes de aplicar, mostra informações do DataFrame e pede confirmação do usuário.

---

### ✍️ Estratégias para preencher valores ausentes:

```python
def preencher_nulos(df_to_clean):
    print('Como Deseja Prosseguir?')
    print('1 - Preencher Todos os Nulos com um Valor Específico')
    print('2 - Preencher Nulos de uma Coluna Específica')
    print('3 - Preencher Nulos Específico')
    print('4 - Preencher Nulos com a Mediana da Coluna')
    print('5 - Preencher Nulos com o Valor Mais Frequente (Moda)')
    print('6 - Preencher Nulos com o Valor da Linha Anterior (forward fill)')
    print('7 - Preencher Nulos com o Valor da Linha Seguinte (backward fill)')
```

* Permite preencher valores ausentes de formas variadas, incluindo valor fixo, mediana, moda e preenchimento baseado em valores vizinhos.

* Exibe antes informações e pede confirmação para prosseguir.

---

### ✅ Vantagens deste código:

* Interface interativa simples para limpeza de dados.
* Permite encontrar, remover ou preencher valores ausentes com facilidade.
* Garante segurança pedindo confirmação antes de alterar os dados.
* Facilita o processo de tratamento de dados para análise e modelagem.
* Pode ser integrado facilmente em notebooks para análise passo a passo.

---

### 💡 Dicas para uso:

* Use esse código em notebooks para facilitar a exploração e limpeza dos dados.
* Pode ser adaptado para incluir mais operações ou melhorar a interface, por exemplo, com widgets interativos.
* Ideal para quem está começando a trabalhar com limpeza de dados em Python.

In [47]:

print('Vamos realizar a Limpeza dos Dados')
nome_df = input('Qual DataFrame você quer limpar? ')
if nome_df in globals() and isinstance(globals()[nome_df], pd.DataFrame):
    df_to_clean = globals()[nome_df]


def operations_limp(df_to_clean):
    print('\nEscolha a operação de limpeza que deseja realizar:')
    print('1 - Achar Valores Nulos\n')
    print('2 - Achar Valores Não Nulos\n')
    print('3 - Contar Valores Ausentes\n')
    print('4 - Remover Valores Ausentes\n')
    print('5 - Preencher Valor Ausente\n')
    print('\n')

    try:
        func = int(input('Digite o número da operação: '))

        match func:
            case 1:
                print(df_to_clean.isnull())
            case 2:
                print(df_to_clean.notnull())
            case 3:
                print(df_to_clean.isnull().sum())
            case 4:
                limpar_nulos(df_to_clean)
            case 5:
                preencher_nulos(df_to_clean)
            case _:
                print("Opção inválida.")
    except ValueError:
        print("Entrada inválida. Digite um número.")
        return




def limpar_nulos(df_to_clean):
    print('Vamos Realizar A Limpeza Dos Valores Ausentes:\n')
    print('Como Deseja Prosseguir?\n')
    print('1 - Remover Linhas Nulas')
    print('2 - Remover Colunas Nulas')
    print('3 - Remover Coluna Específica')
    print('4 - Remover Linha Específica')


    try:
        func_limp = int(input('Digite o número da operação: '))
    except ValueError:
        print("Entrada inválida. Digite um número.")
        return df_to_clean

    match func_limp:
        case 1:
            print("Antes da limpeza:")
            df_to_clean.info()
            print("\nContagem de nulos por coluna:")
            print(df_to_clean.isnull().sum())
            print("\nPorcentagem de nulos por coluna:")
            print(df_to_clean.isnull().mean() * 100)
            print("\nPrimeiras Linhas do DF:")
            df_to_clean.head()

            prosseguir = input('Deseja continuar? (s/n): ')
            if prosseguir.lower() in ['s', 'sim']:
                df_cleaned = df_to_clean.dropna()
                print("\nDepois da limpeza:")
                print(df_cleaned.head())
                return df_cleaned
            else:
                print('Operação Cancelada.')
                return df_to_clean

        case 2:
            print("Antes da limpeza:")
            df_to_clean.info()
            print("\nContagem de nulos por coluna:")
            print(df_to_clean.isnull().sum())
            print("\nPorcentagem de nulos por coluna:")
            print(df_to_clean.isnull().mean() * 100)
            print("\nPrimeiras Linhas do DF:")
            df_to_clean.head()

            prosseguir = input('Deseja continuar? (s/n): ')
            if prosseguir.lower() in ['s', 'sim']:
                df_cleaned = df_to_clean.dropna(axis=1)
                print("\nDepois da limpeza:")
                print(df_cleaned.head())
                return df_cleaned
            else:
                print('Operação Cancelada.')
                return df_to_clean

        case 3:
            print("Antes da limpeza:")
            df_to_clean.info()
            print("\nContagem de nulos por coluna:")
            print(df_to_clean.isnull().sum())
            print("\nPorcentagem de nulos por coluna:")
            print(df_to_clean.isnull().mean() * 100)
            print("\nPrimeiras Linhas do DF:")
            df_to_clean.head()

            coluna_escolhida = input('Qual coluna deseja remover? ')
            if coluna_escolhida in df_to_clean.columns:
                df_cleaned = df_to_clean.drop(coluna_escolhida, axis=1)
                print("\nDepois da limpeza:")
                print(df_cleaned.head())
                return df_cleaned
            else:
                print('Coluna não encontrada. Operação cancelada.')
                return df_to_clean

        case 4:
            print('\n Antes da Limpeza!')
            df_to_clean.head()
            prosseguir = input('Deseja continuar? (s/n): ')
            if prosseguir.lower() in ['s', 'sim']:
                try:
                    index = int(input("Digite o índice da linha que deseja remover: "))
                    if index in df_to_clean.index:
                        df_cleaned = df_to_clean.drop(index)
                        print("\nDepois da limpeza:")
                        print(df_cleaned.head())
                        return df_cleaned
                    else:
                        print("Índice não encontrado. Operação cancelada.")
                        return df_to_clean
                except ValueError:
                    print("Índice inválido.")
                    return df_to_clean

        case _:
            print("Opção não implementada.")
            return df_to_clean

def preencher_nulos(df_to_clean):
    print('Vamos Realizar o Preenchimento dos Valores Ausentes:\n')
    print('Como Deseja Prosseguir?\n')
    print('1 - Preencher Todos os Nulos com um Valor Específico')
    print('2 - Preencher Nulos de uma Coluna Específica')
    print('3 - Preencher Nulos Específico')
    print('4 - Preencher Nulos com a Mediana da Coluna')
    print('5 - Preencher Nulos com o Valor Mais Frequente (Moda)')
    print('6 - Preencher Nulos com o Valor da Linha Anterior (forward fill)')
    print('7 - Preencher Nulos com o Valor da Linha Seguinte (backward fill)')

    try:
        func_fill = int(input('Digite o número da operação: '))
    except ValueError:
        print("Entrada inválida. Digite um número.")
        return df_to_clean

    match func_fill:
        case 1:
            print("Antes da Alteração:")
            df_to_clean.info()
            print("\nContagem de nulos por coluna:")
            print(df_to_clean.isnull().sum())
            print("\nPorcentagem de nulos por coluna:")
            print(df_to_clean.isnull().mean() * 100)
            print("\nPrimeiras Linhas do DF:")
            df_to_clean.head()

            prosseguir = input('Deseja continuar? (s/n): ')
            if prosseguir.lower() in ['s', 'sim']:
                valor = input('Digite o valor que deseja preencher os nulos: ')
                df_cleaned = df_to_clean(valor)
                print("\nDepois da Alteração:")
                print(df_cleaned.head())
                return df_cleaned

        case 2:
            print("Antes da Alteração:")
            df_to_clean.info()
            print("\nContagem de nulos por coluna:")
            print(df_to_clean.isnull().sum())
            print("\nPorcentagem de nulos por coluna:")
            print(df_to_clean.isnull().mean() * 100)
            print("\nPrimeiras Linhas do DF:")
            df_to_clean.head()

            prosseguir = input('Deseja continuar? (s/n): ')
            if prosseguir.lower() in ['s', 'sim']:
                try:
                    coluna_escolhida = input('Qual coluna deseja preencher? ')
                    if coluna_escolhida in df_to_clean.columns:
                        valor = input('Digite o valor que deseja preencher os nulos: ')
                        df_cleaned = df_to_clean.fillna(valor)
                        print("\nDepois da Alteração:")
                        print(df_cleaned.head())
                        return df_cleaned
                    else:
                        print('Coluna não encontrada.')
                except:
                    print('Erro na alteração!')

        case 3:
            print("Antes da Alteração:")
            df_to_clean.info()
            print("\nContagem de nulos por coluna:")
            print(df_to_clean.isnull().sum())
            print("\nPorcentagem de nulos por coluna:")
            print(df_to_clean.isnull().mean() * 100)
            print("\nPrimeiras Linhas do DF:")
            df_to_clean.head()

            prosseguir = input('Deseja continuar? (s/n): ')
            if prosseguir.lower() in ['s', 'sim']:
                try:
                    linha = int(input("Digite o índice da linha com valor nulo: "))
                    coluna = input("Digite o nome da coluna: ")
                    novo_valor = input("Digite o novo valor: ")
                    if pd.isna(df_to_clean.loc[linha, coluna]) or pd.isnull(df_to_clean.loc[linha, coluna]):
                        df_to_clean.loc[linha, coluna] = novo_valor
                        print("\nValor preenchido com sucesso!")
                        print("\nDepois da Alteração:")
                        df_to_clean.info()
                        return df_to_clean
                    else:
                        print("O valor nesta célula não é nulo.")
                except:
                    print('Erro na alteração!')

        case 4:
            print("Antes da Alteração:")
            df_to_clean.info()
            print("\nContagem de nulos por coluna:")
            print(df_to_clean.isnull().sum())
            print("\nPorcentagem de nulos por coluna:")
            print(df_to_clean.isnull().mean() * 100)
            print("\nPrimeiras Linhas do DF:")
            df_to_clean.head()

            prosseguir = input('Deseja continuar? (s/n): ')
            if prosseguir.lower() in ['s', 'sim']:
                try:
                    coluna_escolhida = input('Qual coluna deseja preencher com a mediana? ')
                    median_info = df_to_clean[coluna_escolhida].median()
                    df_cleaned = df_to_clean.copy()
                    df_cleaned[coluna_escolhida] = df_cleaned[coluna_escolhida].fillna(median_info)
                    print("\nDepois da Alteração:")
                    print(df_cleaned.head())
                    return df_cleaned
                except:
                    print('Erro na alteração!')

        case 5:
            print("Antes da Alteração:")
            df_to_clean.info()
            print("\nContagem de nulos por coluna:")
            print(df_to_clean.isnull().sum())
            print("\nPorcentagem de nulos por coluna:")
            print(df_to_clean.isnull().mean() * 100)
            print("\nPrimeiras Linhas do DF:")
            df_to_clean.head()

            prosseguir = input('Deseja continuar? (s/n): ')
            if prosseguir.lower() in ['s', 'sim']:
                try:
                    coluna_escolhida = input('Qual coluna deseja preencher com a moda? ')
                    mode_info = df_to_clean[coluna_escolhida].mode()
                    if not mode_info.empty:
                        df_cleaned = df_to_clean.copy()
                        df_cleaned[coluna_escolhida] = df_cleaned[coluna_escolhida].fillna(mode_info[0])
                        print("\nDepois da Alteração:")
                        print(df_cleaned.head())
                        return df_cleaned
                    else:
                        print('Não foi possível obter a moda da coluna.')
                except:
                    print('Erro na alteração!')

        case 6:
            print("Antes da Alteração:")
            df_to_clean.info()
            print("\nContagem de nulos por coluna:")
            print(df_to_clean.isnull().sum())
            print("\nPorcentagem de nulos por coluna:")
            print(df_to_clean.isnull().mean() * 100)
            print("\nPrimeiras Linhas do DF:")
            df_to_clean.head()

            prosseguir = input('Deseja continuar? (s/n): ')
            if prosseguir.lower() in ['s', 'sim']:
                try:
                    df_cleaned = df_to_clean.ffill()
                    print("\nDepois da Alteração:")
                    print(df_cleaned.head())
                    return df_cleaned
                except:
                    print('Erro na alteração!')

        case 7:
            print("Antes da Alteração:")
            df_to_clean.info()
            print("\nContagem de nulos por coluna:")
            print(df_to_clean.isnull().sum())
            print("\nPorcentagem de nulos por coluna:")
            print(df_to_clean.isnull().mean() * 100)
            print("\nPrimeiras Linhas do DF:")
            df_to_clean.head()

            prosseguir = input('Deseja continuar? (s/n): ')
            if prosseguir.lower() in ['s', 'sim']:
                try:
                    df_cleaned = df_to_clean.bfill()
                    print("\nDepois da Alteração:")
                    print(df_cleaned.head())
                    return df_cleaned
                except:
                    print('Erro na alteração!')

        case _:
            print("Opção não implementada.")
            return df_to_clean


operations_limp(df_to_clean)

Vamos realizar a Limpeza dos Dados
Qual DataFrame você quer limpar? df

Escolha a operação de limpeza que deseja realizar:
1 - Achar Valores Nulos

2 - Achar Valores Não Nulos

3 - Contar Valores Ausentes

4 - Remover Valores Ausentes

5 - Preencher Valor Ausente



Digite o número da operação: 5
Vamos Realizar o Preenchimento dos Valores Ausentes:

Como Deseja Prosseguir?

1 - Preencher Todos os Nulos com um Valor Específico
2 - Preencher Nulos de uma Coluna Específica
3 - Preencher Nulos Específico
4 - Preencher Nulos com a Mediana da Coluna
5 - Preencher Nulos com o Valor Mais Frequente (Moda)
6 - Preencher Nulos com o Valor da Linha Anterior (forward fill)
7 - Preencher Nulos com o Valor da Linha Seguinte (backward fill)
Digite o número da operação: 4
Antes da Alteração:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

Contagem de nulos por coluna:
work_year             10
experience_level       0
employment_type        0
job_title              0
salary                 0
salary_currency        0
salary_in_usd          0
employee_residence     0
remote_ratio           0
company_location       0
company_size           0
dtype: int64

Porcentagem de nulos por coluna:
work_year             0.007499
experience_level      0.000000
employment_type       0.000000
job_title             0.000000
salary                0.000000
salary_currency       0.000000
salary_in_usd         0.000000
employee_residence    0.000000
remote_ratio          0.000000
company_location      0.000000
company_size          0.000000
dtype: float64

Primeiras Linhas do DF:
Deseja continuar? (s/n): s
Qual coluna deseja preencher com a mediana? work_year

Depois da Alteração:
   work_year experience_level employment_type           job_title  salary  \
0     2025.0               SE              FT  Solutions Engineer  214000
1     2025.0               SE              FT  Solutions Engineer  136000
2     2025.0               MI              FT       Data Engineer  158800
3     2025.0               MI              FT       Data Engineer  139200
4     2025.0               EN              FT       Data Engineer   90000

  salary_currency  salary_in_usd employee_residence  remote_ratio  \
0             USD         214000                 US           100
1             USD         136000                 US           100
2             USD         158800                 AU             0
3             USD         139200                 AU             0
4             USD          90000                 US             0

  company_location company_size
0               US            M
1               US            M
2               AU            M
3               AU            M
4               US            M

NameError: name 'df_cleaned' is not defined

# Aula 3

# Nova seção