<a href="https://colab.research.google.com/github/Gabriel-Amorim-dev/Alura/blob/main/Aula1_DataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 1

In [6]:
import pandas as pd

leitura do arquivo CSV

In [45]:
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

**Informa√ß√µes iniciais acerca do dataset importado.**

---

### *Vantagens:*

* Nos ajuda a ter uma **vis√£o inicial** acerca da data importada  
* Ajuda a **planejar o rumo de a√ß√£o** com as informa√ß√µes dos dados fornecidos

In [49]:
df.info()
#COMPREENS√ÉO DA INFO DO MEU DATASET

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB


### **Describe**

A fun√ß√£o `.describe()` fornece dados estat√≠sticos acerca do nosso arquivo, mas tamb√©m pode ser usada para extra√ß√£o de colunas espec√≠ficas (quantidade de valores n√£o nulos, m√°ximo, m√≠nimo, padr√£o).

---

### Exemplo:

```python
# df['Cargo'].describe()
````

Esse comando fornece os dados estat√≠sticos poss√≠veis de obter na coluna de Cargos.
Levando em considera√ß√£o que a coluna n√£o √© do tipo num√©rico, ela oferece informa√ß√µes n√£o num√©ricas (Moda, Frequ√™ncia da Moda, N√∫mero de n√£o nulos).

---

### *Vantagens:*

1. √ötil para a extra√ß√£o de dados extremos
2. Entender a dispers√£o e concentra√ß√£o num√©rica dos valores

In [15]:
df['Sal√°rio (local)'].describe()

count    1.333490e+05
mean     1.632833e+05
std      2.173860e+05
min      1.400000e+04
25%      1.060200e+05
50%      1.470000e+05
75%      1.990000e+05
max      3.040000e+07
Name: Sal√°rio (local), dtype: float64


### **Shape**

A fun√ß√£o `.shape` n√£o √© um m√©todo, mas sim um atributo do DataFrame que retorna uma tupla com duas informa√ß√µes:  
‚Üí n√∫mero de linhas (registros) e n√∫mero de colunas (vari√°veis) no seu DataFrame.

---

### Exemplo:

```python
df.shape
````

Esse comando retorna algo como:

```
(1000, 10)
```

Isso significa que o DataFrame possui **1000 linhas** e **10 colunas**.

---

### *Vantagens:*

1. Ideal para verificar a dimens√£o do dataset
2. √ötil para saber se h√° dados suficientes para an√°lise
3. Pode ser usado em etapas de valida√ß√£o, como antes e depois de tratamentos de dados (por exemplo, remo√ß√£o de nulos ou duplicados)

In [ ]:
linhas, colunas = df.shape[0], df.shape[1]
print(f'O programa tem, {linhas} linhas')
print(f'O programa tem, {colunas} colunas')

### **Dicion√°rio**

A fun√ß√£o 'dicion√°rio' foi definida para gerar um bloco de tradu√ß√µes de termos e siglas do documento original que poderiam dificultar a leitura agrad√°vel dos valores documentados nos dados do arquivo.

Assim, a tradu√ß√£o ou adapta√ß√£o de certos aspectos contribui para a extra√ß√£o e manipula√ß√£o eficaz de dados.

In [13]:
def dicionario():
      contrato = {
                'PT': 'Meio Per√≠odo',
                'FT': 'Integral',
                'CT': 'Contrato',
                'FL': 'Freelancer'
      }
      nivel = {
                'SE': 'Senior',
                'MI': 'Pleno',
                'EN': 'Junior',
                'EX': 'Executivo'
      }
      tamanho = {
                'S': 'Pequeno',
                'M': 'M√©dio',
                'L': 'Grande'
      }
      moeda = {
                'USD': 'D√≥lar americano',
                'EUR': 'Euro',
                'GBP': 'Libra esterlina',

      }
      loc_empresa = {
          'US': 'Estados Unidos',
          'AU': 'Austr√°lia',
          'CA': 'Canad√°',
          'JP': 'Jap√£o',
          'GB': 'Reino Unido',
          'MX': 'M√©xico',
          'NL': 'Pa√≠ses Baixos',
          'ES': 'Espanha',
          'FR': 'Fran√ßa',
          'MT': 'Malta',
          'LT': 'Litu√¢nia',
          'PH': 'Filipinas',
          'NZ': 'Nova Zel√¢ndia',
          'DE': 'Alemanha',
          'LV': 'Let√¥nia',
          'IE': 'Irlanda',
          'MK': 'Maced√¥nia do Norte',
          'AT': '√Åustria',
          'PL': 'Pol√¥nia',
          'SK': 'Eslov√°quia',
          'BR': 'Brasil',
          'SI': 'Eslov√™nia',
          'FI': 'Finl√¢ndia',
          'HK': 'Hong Kong',
          'LS': 'Lesoto',
          'IN': '√çndia',
          'JM': 'Jamaica',
          'CH': 'Su√≠√ßa',
          'BE': 'B√©lgica',
          'PE': 'Peru',
          'SG': 'Singapura',
          'PT': 'Portugal',
          'IT': 'It√°lia',
          'HU': 'Hungria',
          'RO': 'Rom√™nia',
          'AR': 'Argentina',
          'ZA': '√Åfrica do Sul',
          'PA': 'Panam√°',
          'EE': 'Est√¥nia',
          'LU': 'Luxemburgo',
          'DZ': 'Arg√©lia',
          'EG': 'Egito',
          'CL': 'Chile',
          'GR': 'Gr√©cia',
          'KE': 'Qu√™nia',
          'CD': 'Rep√∫blica Democr√°tica do Congo',
          'SE': 'Su√©cia',
          'KR': 'Coreia do Sul',
          'TW': 'Taiwan',
          'NO': 'Noruega',
          'CZ': 'Tch√©quia',
          'TR': 'Turquia',
          'CY': 'Chipre',
          'CO': 'Col√¥mbia',
          'DK': 'Dinamarca',
          'AE': 'Emirados √Årabes Unidos',
          'BG': 'Bulg√°ria',
          'ID': 'Indon√©sia',
          'JO': 'Jord√¢nia',
          'RS': 'S√©rvia',
          'UA': 'Ucr√¢nia',
          'PR': 'Porto Rico',
          'SV': 'El Salvador',
          'EC': 'Equador',
          'DO': 'Rep√∫blica Dominicana',
          'MY': 'Mal√°sia',
          'XK': 'Kosovo',
          'CR': 'Costa Rica',
          'ZM': 'Z√¢mbia',
          'AM': 'Arm√™nia',
          'IL': 'Israel',
          'LB': 'L√≠bano',
          'NG': 'Nig√©ria',
          'HR': 'Cro√°cia',
          'PK': 'Paquist√£o',
          'HN': 'Honduras',
          'VE': 'Venezuela',
          'AS': 'Samoa Americana',
          'SA': 'Ar√°bia Saudita',
          'OM': 'Om√£',
          'BA': 'B√≥snia e Herzegovina',
          'VN': 'Vietn√£',
          'GI': 'Gibraltar',
          'MU': 'Maur√≠cio',
          'RU': 'R√∫ssia',
          'QA': 'Catar',
          'GH': 'Gana',
          'AD': 'Andorra',
          'CF': 'Rep√∫blica Centro-Africana',
          'TH': 'Thailand',
          'IR': 'Iran',
          'BS': 'Bahamas',
          'IQ': 'Iraque',
          'CN': 'China',
          'MD': 'Moldova'
      }
      loc_func = {
          'US': 'Estados Unidos',
          'AU': 'Austr√°lia',
          'CA': 'Canad√°',
          'JP': 'Jap√£o',
          'GB': 'Reino Unido',
          'MX': 'M√©xico',
          'NL': 'Pa√≠ses Baixos',
          'ES': 'Espanha',
          'FR': 'Fran√ßa',
          'MT': 'Malta',
          'LT': 'Litu√¢nia',
          'PH': 'Filipinas',
          'NZ': 'Nova Zel√¢ndia',
          'DE': 'Alemanha',
          'LV': 'Let√¥nia',
          'IE': 'Irlanda',
          'MK': 'Maced√¥nia do Norte',
          'AT': '√Åustria',
          'PL': 'Pol√¥nia',
          'SK': 'Eslov√°quia',
          'BR': 'Brasil',
          'SI': 'Eslov√™nia',
          'FI': 'Finl√¢ndia',
          'HK': 'Hong Kong',
          'LS': 'Lesoto',
          'IN': '√çndia',
          'JM': 'Jamaica',
          'CH': 'Su√≠√ßa',
          'BE': 'B√©lgica',
          'PE': 'Peru',
          'SG': 'Singapura',
          'PT': 'Portugal',
          'IT': 'It√°lia',
          'HU': 'Hungria',
          'RO': 'Rom√™nia',
          'AR': 'Argentina',
          'ZA': '√Åfrica do Sul',
          'PA': 'Panam√°',
          'EE': 'Est√¥nia',
          'LU': 'Luxemburgo',
          'DZ': 'Arg√©lia',
          'EG': 'Egito',
          'CL': 'Chile',
          'GR': 'Gr√©cia',
          'KE': 'Qu√™nia',
          'CD': 'Rep√∫blica Democr√°tica do Congo',
          'SE': 'Su√©cia',
          'KR': 'Coreia do Sul',
          'TW': 'Taiwan',
          'NO': 'Noruega',
          'CZ': 'Tch√©quia',
          'TR': 'Turquia',
          'CY': 'Chipre',
          'CO': 'Col√¥mbia',
          'DK': 'Dinamarca',
          'AE': 'Emirados √Årabes Unidos',
          'BG': 'Bulg√°ria',
          'ID': 'Indon√©sia',
          'JO': 'Jord√¢nia',
          'RS': 'S√©rvia',
          'UA': 'Ucr√¢nia',
          'PR': 'Porto Rico',
          'SV': 'El Salvador',
          'EC': 'Equador',
          'DO': 'Rep√∫blica Dominicana',
          'MY': 'Mal√°sia',
          'XK': 'Kosovo',
          'CR': 'Costa Rica',
          'ZM': 'Z√¢mbia',
          'AM': 'Arm√™nia',
          'IL': 'Israel',
          'LB': 'L√≠bano',
          'NG': 'Nig√©ria',
          'HR': 'Cro√°cia',
          'PK': 'Paquist√£o',
          'HN': 'Honduras',
          'VE': 'Venezuela',
          'AS': 'Samoa Americana',
          'SA': 'Ar√°bia Saudita',
          'OM': 'Om√£',
          'BA': 'B√≥snia e Herzegovina',
          'VN': 'Vietn√£',
          'GI': 'Gibraltar',
          'MU': 'Maur√≠cio',
          'RU': 'R√∫ssia',
          'QA': 'Catar',
          'GH': 'Gana',
          'AD': 'Andorra',
          'CF': 'Rep√∫blica Centro-Africana',
          'TH': 'Thailand',
          'IR': 'Iran',
          'BS': 'Bahamas',
          'IQ': 'Iraque',
          'CN': 'China',
          'MD': 'Moldova'
      }

      return contrato, nivel, tamanho, moeda, loc_empresa, loc_func

contrato_map, nivel_map, tamanho_map, moeda_map, loc_empresa_map, loc_func_map = dicionario()

df['Contrato'] = df['Contrato'].replace(contrato_map)

df['N√≠vel'] = df['N√≠vel'].replace(nivel_map)

df['Moeda'] = df['Moeda'].replace(moeda_map)

df['Local Empresa'] = df['Local Empresa'].replace(loc_empresa_map)

df['Resid√™ncia'] = df['Resid√™ncia'].replace(loc_func_map)

df['Tamanho'] = df['Tamanho'].replace(tamanho_map)

### **Rename**

---

A fun√ß√£o `.rename()` tem como principal fun√ß√£o o renomear colunas ou √≠ndices (linhas) de um DataFrame sem precisar necessariamente recri√°-lo.

√â muito √∫til para a limpeza dos dados, especialmente quando os nomes est√£o em algum idioma n√£o falado pelo analista ou por qualquer respons√°vel pela informa√ß√£o.

Nesse Dashboard, substitui termos em ingl√™s que n√£o possu√≠am uma visibilidade amig√°vel por termos simples em portugu√™s.

O par√¢metro `inplace=True` indica que a modifica√ß√£o ser√° feita no DataFrame original, renomeando-a no pr√≥prio objeto.

In [12]:
df.rename(columns={
    'work_year': 'Ano',
    'experience_level': 'N√≠vel',
    'employment_type': 'Contrato',
    'job_title': 'Cargo',
    'salary': 'Sal√°rio (local)',
    'salary_currency': 'Moeda',
    'salary_in_usd': 'Sal√°rio (USD)',
    'employee_residence': 'Resid√™ncia',
    'remote_ratio': 'Remoto (%)',
    'company_location': 'Local Empresa',
    'company_size': 'Tamanho'
}, inplace=True)

### **Organiza√ß√£o por Tipo de Dados**

---

Esse bloco de c√≥digo tem como objetivo organizar e exibir as colunas do DataFrame `df` agrupadas por tipo de dado, o que facilita a leitura e a an√°lise.

### üîç O que o c√≥digo faz:

```python
types = df.dtypes
````

Retorna os tipos de dados de cada coluna do DataFrame (ex: `float64`, `int64`, `object`).

```python
# float_cols = types[types == 'float64'].index.tolist()
# int_cols = types[types == 'int64'].index.tolist()
# obj_cols = types[types == 'object'].index.tolist()
```

Cria 3 listas separadas com os nomes das colunas, agrupando por tipo:

```text
float_cols: colunas com n√∫meros decimais (float64)

int_cols: colunas com n√∫meros inteiros (int64)

obj_cols: colunas com textos ou categorias (object)
```

```python
columns_order = float_cols + int_cols + obj_cols
df = df[columns_order]
```

Reorganiza o DataFrame colocando as colunas em uma ordem l√≥gica: primeiro floats, depois ints, por fim os objetos.

```python
df.head().style.set_properties(**{'text-align': 'center'}).set_table_styles(
    [dict(selector='th', props=[('text-align', 'center')])]
)
```

Formata a exibi√ß√£o da tabela para alinhar os dados e t√≠tulos ao centro.

```python
display(df.head(10))
```

Mostra os 10 primeiros registros j√° organizados e centralizados.

---

### *‚úÖ Vantagens:*

* Torna a leitura do DataFrame mais limpa e estruturada
* Ajuda a identificar rapidamente quais tipos de dados est√£o presentes
* Facilita an√°lises estat√≠sticas e visuais ao agrupar colunas semelhantes
* Deixa a apresenta√ß√£o dos dados mais profissional e clara, especialmente em notebooks e dashboards

In [16]:
types = df.dtypes


float_cols = types[types == 'float64'].index.tolist()
int_cols = types[types == 'int64'].index.tolist()
obj_cols = types[types == 'object'].index.tolist()

columns_order = float_cols + int_cols + obj_cols
df = df[columns_order]

df.head().style.set_properties(**{'text-align': 'center'}).set_table_styles(
    [dict(selector='th', props=[('text-align', 'center')])]
)

display(df.head(10))

,Ano,Sal√°rio (local),Sal√°rio (USD),Remoto (%),N√≠vel,Contrato,Cargo,Moeda,Resid√™ncia,Local Empresa,Tamanho
0,2025.0,214000,214000,100,Senior,Integral,Solutions Engineer,D√≥lar americano,Estados Unidos,Estados Unidos,M√©dio
1,2025.0,136000,136000,100,Senior,Integral,Solutions Engineer,D√≥lar americano,Estados Unidos,Estados Unidos,M√©dio
2,2025.0,158800,158800,0,Pleno,Integral,Data Engineer,D√≥lar americano,Austr√°lia,Austr√°lia,M√©dio
3,2025.0,139200,139200,0,Pleno,Integral,Data Engineer,D√≥lar americano,Austr√°lia,Austr√°lia,M√©dio
4,2025.0,90000,90000,0,Junior,Integral,Data Engineer,D√≥lar americano,Estados Unidos,Estados Unidos,M√©dio
5,2025.0,80000,80000,0,Junior,Integral,Data Engineer,D√≥lar americano,Estados Unidos,Estados Unidos,M√©dio
6,2025.0,185000,185000,0,Senior,Integral,Data Scientist,D√≥lar americano,Estados Unidos,Estados Unidos,M√©dio
7,2025.0,148000,148000,0,Senior,Integral,Data Scientist,D√≥lar americano,Estados Unidos,Estados Unidos,M√©dio
8,2025.0,135000,135000,0,Pleno,Integral,Data Scientist,D√≥lar americano,Canad√°,Canad√°,M√©dio
9,2025.0,108000,108000,0,Pleno,Integral,Data Scientist,D√≥lar americano,Canad√°,Canad√°,M√©dio

**Opera√ß√µes Interativas em Colunas do DataFrame**



---



Esse c√≥digo permite que o usu√°rio escolha uma coluna do DataFrame para realizar diversas opera√ß√µes explorat√≥rias simples, facilitando a an√°lise de dados sem precisar digitar comandos manualmente.

üîç O que o c√≥digo faz:
```
print('Informa√ß√µes Dispon√≠veis:')
print(df.columns.tolist())
info = input('Qual informa√ß√£o voc√™ quer saber? ')
```
Exibe as colunas dispon√≠veis no DataFrame.

Recebe do usu√°rio o nome da coluna que ele quer analisar.

```
def operations(coluna):
  print('\nEscolha a opera√ß√£o que deseja realizar:')
  print('1 - Ver primeiras linhas')
  print('2 - Ver √∫ltimas linhas')
  print('3 - Ver tipo de dado e nulos')
  print('4 - Ver estat√≠sticas')
  print('5 - Ver quantos valores nulos')
  print('6 - Ver quantas duplicadas')
  print('7 - Ver quantos valores')
  ```
Define um menu com 7 op√ß√µes de opera√ß√µes para explorar a coluna escolhida.
```
func = int(input('Digite o n√∫mero da opera√ß√£o: '))
```
Recebe a opera√ß√£o que o usu√°rio deseja executar.
```
match func:

  case 1:
    print(df[coluna].head())
  case 2:
    print(df[coluna].tail())
  case 3:
    print(f"Tipo de dado: {df[coluna].dtype}")
    print(f"Quantidade de nulos: {df[coluna].isnull().sum()}")
  case 4:
    print(df[coluna].describe())
  case 5:
    print(f"Valores nulos: {df[coluna].isnull().sum()}")
  case 6:
    print(f"Duplicadas: {df[coluna].duplicated().sum()}")
  case 7:
    print(f'Contagem de Valores: {df[coluna].value_counts()}')
  case _:
    print("Op√ß√£o inv√°lida.")
```
Executa a opera√ß√£o selecionada pelo usu√°rio:

1: mostra as primeiras 5 linhas da coluna.

2: mostra as √∫ltimas 5 linhas da coluna.

3: mostra o tipo de dado da coluna e a quantidade de valores nulos.

4: mostra as estat√≠sticas descritivas da coluna (m√©dia, quartis, etc.).

5: conta quantos valores nulos a coluna possui.

6: conta quantas linhas duplicadas a coluna possui.

7: mostra a contagem de valores √∫nicos da coluna.

Caso o n√∫mero seja inv√°lido, avisa o usu√°rio.

```
operations(info)
```
Chama a fun√ß√£o operations passando a coluna escolhida para executar a opera√ß√£o.

*‚úÖ Vantagens:*



---



Interface simples para explorar qualquer coluna rapidamente.

Facilita an√°lise explorat√≥ria sem precisar lembrar de comandos Pandas.

Permite obter informa√ß√µes b√°sicas, estat√≠sticas e dados sobre qualidade da coluna (nulos e duplicados).

Pode ser ampliado com mais opera√ß√µes conforme a necessidade.

In [17]:
print('Informa√ß√µes Dispon√≠veis:')
print(df.columns.tolist())
info = input('Qual informa√ß√£o voc√™ quer saber? ')

def operations(coluna):
  print('\nEscolha a opera√ß√£o que deseja realizar:')
  print('1 - Ver primeiras linhas\n')
  print('2 - Ver √∫ltimas linhas\n')
  print('3 - Ver tipo de dado e nulos\n')
  print('4 - Ver estat√≠sticas\n')
  print('5 - Ver quantos valores nulos\n')
  print('6 - Ver quantas duplicadas\n')
  print('7 - Ver quantos valores\n')
  print('\n')


  func = int(input('Digite o n√∫mero da opera√ß√£o: '))

  match func:
    case 1:
      print(df[coluna].head())
    case 2:
      print(df[coluna].tail())
    case 3:
      print(f"Tipo de dado: {df[coluna].dtype}")
      print(f"Quantidade de nulos: {df[coluna].isnull().sum()}")
    case 4:
      print(df[coluna].describe())
    case 5:
      print(f"Valores nulos: {df[coluna].isnull().sum()}")
    case 6:
      print(f"Duplicadas: {df[coluna].duplicated().sum()}")
    case 7:
      print(f'Contagem de Valores: {df[coluna].value_counts()}')
    case _:
      print("Op√ß√£o inv√°lida.")

operations(info)

Informa√ß√µes Dispon√≠veis:
['Ano', 'Sal√°rio (local)', 'Sal√°rio (USD)', 'Remoto (%)', 'N√≠vel', 'Contrato', 'Cargo', 'Moeda', 'Resid√™ncia', 'Local Empresa', 'Tamanho']
Qual informa√ß√£o voc√™ quer saber? Ano

Escolha a opera√ß√£o que deseja realizar:
1 - Ver primeiras linhas

2 - Ver √∫ltimas linhas

3 - Ver tipo de dado e nulos

4 - Ver estat√≠sticas

5 - Ver quantos valores nulos

6 - Ver quantas duplicadas

7 - Ver quantos valores



Digite o n√∫mero da opera√ß√£o: 1
0    2025.0
1    2025.0
2    2025.0
3    2025.0
4    2025.0
Name: Ano, dtype: float64



###**Gr√°ficos Interativos para An√°lise de Dados**

Esse c√≥digo permite que o usu√°rio escolha uma coluna categ√≥rica e uma coluna num√©rica do DataFrame para visualizar diferentes tipos de gr√°ficos, facilitando a explora√ß√£o visual dos dados.

---

 **üîç O que o c√≥digo faz:**

```python
print('Informa√ß√µes Dispon√≠veis:')
print(df.columns.tolist())
````

* Exibe as colunas dispon√≠veis no DataFrame para ajudar o usu√°rio a escolher.

```python
info_categoria = input('Qual coluna categ√≥rica voc√™ quer analisar? ')
info_valor = input('Qual valor num√©rico voc√™ quer visualizar (ex: salary_in_usd)? ')
```

* Solicita ao usu√°rio o nome da coluna categ√≥rica (ex: cargo, pa√≠s) e da coluna num√©rica (ex: sal√°rio).

```python
if info_categoria not in df.columns or info_valor not in df.columns:
    raise ValueError("Coluna n√£o encontrada.")
```

* Verifica se as colunas existem no DataFrame.

```python
if not pd.api.types.is_numeric_dtype(df[info_valor]):
    raise TypeError("A vari√°vel inserida n√£o √© num√©rica!")
```

* Garante que a coluna num√©rica realmente cont√©m valores num√©ricos.

```python
info_calc = df.groupby(info_categoria)[info_valor].mean().sort_values(ascending=False)
```

* Agrupa os dados pela categoria escolhida e calcula a m√©dia do valor num√©rico para cada grupo, ordenando do maior para o menor.

---

### üé® Menu de gr√°ficos:

```python
print('\nEscolha o gr√°fico que deseja analisar:')
print('1 - Gr√°fico de Barras')
print('2 - Gr√°fico de Pizza (s√≥ para poucos itens)')
print('3 - Gr√°fico de Caixa (Boxplot)')
print('4 - Gr√°fico de Linhas')
print('5 - Scatterplot')
```

O usu√°rio escolhe o gr√°fico que deseja visualizar.

---

### üéØ O que cada gr√°fico faz:

| Op√ß√£o | Gr√°fico                        | Descri√ß√£o                                                                                              |
| ----- | ------------------------------ | ------------------------------------------------------------------------------------------------------ |
| 1     | **Gr√°fico de Barras**          | Compara a m√©dia da vari√°vel num√©rica para cada categoria, mostrando barras ordenadas.                  |
| 2     | **Gr√°fico de Pizza**           | Mostra a propor√ß√£o das 10 maiores categorias, √∫til para poucas categorias.                             |
| 3     | **Gr√°fico de Caixa (Boxplot)** | Exibe a distribui√ß√£o, quartis e poss√≠veis outliers da vari√°vel num√©rica para cada categoria.           |
| 4     | **Gr√°fico de Linhas**          | Mostra a tend√™ncia da m√©dia da vari√°vel num√©rica ao longo das categorias (√∫til para s√©ries temporais). |
| 5     | **Scatterplot**                | Mostra a dispers√£o dos dados individuais da vari√°vel num√©rica em rela√ß√£o √†s categorias.                |

---

### üñ•Ô∏è Como o c√≥digo gera os gr√°ficos:

* Cada op√ß√£o chama a fun√ß√£o espec√≠fica do Matplotlib/Seaborn para desenhar o gr√°fico com as configura√ß√µes de t√≠tulos, r√≥tulos e tamanhos adequados.
* Gr√°ficos s√£o exibidos em janela de visualiza√ß√£o ou notebook.
* O c√≥digo trata entrada inv√°lida de forma simples.

---

### *‚úÖ Vantagens:*

* Permite uma explora√ß√£o visual r√°pida e personalizada de dados.
* Facilita a identifica√ß√£o de padr√µes, tend√™ncias e anomalias.
* Pode ser usado em notebooks para an√°lises interativas.
* Com poucos comandos, gera gr√°ficos claros e informativos.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Mostra as colunas
print('Informa√ß√µes Dispon√≠veis:')
print(df.columns.tolist())

try:
    info_categoria = input('Qual coluna categ√≥rica voc√™ quer analisar? ')
    info_valor = input('Qual valor num√©rico voc√™ quer visualizar (ex: salary_in_usd)? ')

    # Verifica se as colunas existem
    if info_categoria not in df.columns or info_valor not in df.columns:
        raise ValueError("Coluna n√£o encontrada.")

    # Verifica se a coluna de valor √© num√©rica
    if not pd.api.types.is_numeric_dtype(df[info_valor]):
        raise TypeError("A vari√°vel inserida n√£o √© num√©rica!")

    # Agrupamento
    info_calc = df.groupby(info_categoria)[info_valor].mean().sort_values(ascending=False)

except Exception as e:
    print(f'Erro: {e}')
else:
    def graficos():
        print('\nEscolha o gr√°fico que deseja analisar:')
        print('1 - Gr√°fico de Barras')
        print('2 - Gr√°fico de Pizza (s√≥ para poucos itens)')
        print('3 - Gr√°fico de Caixa (Boxplot)')
        print('4 - Gr√°fico de Linhas')
        print('5 - Scatterplot')

        try:
            func = int(input('Digite o n√∫mero da opera√ß√£o: '))
        except ValueError:
            print("Entrada inv√°lida. Digite um n√∫mero.")
            return

        match func:
            case 1:
                plt.figure(figsize=(10, 6))
                sns.barplot(x=info_calc.values, y=info_calc.index)
                plt.xlabel(f'M√©dia de {info_valor}')
                plt.ylabel(info_categoria)
                plt.title(f'M√©dia de {info_valor} por {info_categoria}')
                plt.tight_layout()
                plt.show()

            case 2:
                top10 = info_calc.head(10)
                plt.figure(figsize=(8, 8))
                plt.pie(top10, labels=top10.index, autopct='%1.1f%%')
                plt.title(f'Top 10 {info_categoria} por m√©dia de {info_valor}')
                plt.show()

            case 3:
                plt.figure(figsize=(10, 6))
                sns.boxplot(x=info_categoria, y=info_valor, data=df)
                plt.xticks(rotation=45)
                plt.title(f'Distribui√ß√£o de {info_valor} por {info_categoria}')
                plt.tight_layout()
                plt.show()

            case 4:
                plt.figure(figsize=(12, 6))
                sns.lineplot(x=info_calc.index, y=info_calc.values, marker='o')
                plt.title(f'Tend√™ncia da m√©dia de {info_valor} por {info_categoria}')
                plt.ylabel(f'{info_valor}')
                plt.xlabel(info_categoria)
                plt.xticks(rotation=45)
                plt.tight_layout()
                plt.show()

            case 5:
                plt.figure(figsize=(10, 6))
                sns.scatterplot(data=df, x=info_categoria, y=info_valor)
                plt.title(f'Dispers√£o de {info_valor} por {info_categoria}')
                plt.xticks(rotation=45)
                plt.tight_layout()
                plt.show()

            case _:
                print("Op√ß√£o inv√°lida.")

    graficos()

# Aula 2

###**Identificando Valores Nulos no DataFrame**
---

Esse comando verifica, para cada c√©lula do DataFrame, se o valor √© nulo (ausente). Ele retorna um DataFrame booleano de mesma dimens√£o, onde cada posi√ß√£o indica se o valor correspondente √© nulo (`True`) ou n√£o (`False`).

---

### üîç O que o c√≥digo faz:

```python
df.isnull()
```

* Analisa todas as colunas e linhas do DataFrame.
* Retorna um novo DataFrame com valores booleanos (`True` para valores nulos e `False` para valores n√£o nulos).
* Permite identificar exatamente onde est√£o os dados faltantes.

---

### ‚úÖ Vantagens:

* Facilita a visualiza√ß√£o e localiza√ß√£o de valores ausentes nos dados.
* Pode ser usado para an√°lises e opera√ß√µes de limpeza, como remo√ß√£o ou preenchimento de dados nulos.
* √â uma etapa fundamental na prepara√ß√£o e pr√©-processamento de dados para garantir qualidade nas an√°lises.

---

Quer que eu fa√ßa um texto para algum outro comando ou fun√ß√£o?

In [ ]:
df.isnull()

###**Contagem de Valores Nulos por Coluna no DataFrame**

---

Esse comando conta quantos valores ausentes (nulos) existem em cada coluna do DataFrame, facilitando a an√°lise da qualidade dos dados.

---

### üîç O que o c√≥digo faz:

```python
df.isnull().sum()
```

* Primeiro, `df.isnull()` cria um DataFrame booleano indicando onde os valores s√£o nulos (`True`) ou n√£o (`False`).
* Em seguida, `.sum()` soma esses valores `True` em cada coluna ‚Äî como `True` equivale a 1 e `False` a 0, o resultado √© a quantidade total de valores nulos por coluna.
* Retorna uma S√©rie onde o √≠ndice s√£o os nomes das colunas e os valores s√£o as contagens de valores nulos.

---

### ‚úÖ Vantagens:

* Permite identificar rapidamente quais colunas possuem dados faltantes e em que quantidade.
* Auxilia na tomada de decis√£o para limpeza dos dados, como remo√ß√£o ou preenchimento de nulos.
* Facilita a avalia√ß√£o geral da qualidade do DataFrame.

---

Se quiser, posso ajudar com textos para outros comandos tamb√©m!

In [ ]:
df.isnull().sum()



###**Explorando Valores √önicos de uma Coluna do DataFrame**

---

Esse c√≥digo permite que o usu√°rio veja todos os valores √∫nicos presentes em uma coluna espec√≠fica do DataFrame, facilitando a compreens√£o da variedade e tipos de dados que essa coluna cont√©m.

---

 üîç O que o c√≥digo faz:

```python
print('Informa√ß√µes Dispon√≠veis:')
print(df.columns.tolist())
info = input('Qual informa√ß√£o voc√™ quer saber? ')
```

* Exibe para o usu√°rio a lista de colunas dispon√≠veis no DataFrame.
* Solicita que o usu√°rio informe o nome da coluna que deseja analisar.

```python
try:
    if info not in df.columns:
        raise ValueError("Coluna n√£o encontrada.")
except ValueError as e:
    print(f'Erro: {e}')
```

* Verifica se a coluna informada existe no DataFrame.
* Caso n√£o exista, mostra uma mensagem de erro personalizada.

```python
else:
    df[info].unique()
    print(df[info].unique())
```

* Se a coluna existir, recupera e exibe todos os valores √∫nicos presentes nela.
* Isso ajuda a entender quais categorias, r√≥tulos ou valores distintos aquela coluna possui.

---

### ‚úÖ Vantagens:

* Permite uma explora√ß√£o r√°pida e f√°cil dos dados √∫nicos em qualquer coluna.
* Ajuda a identificar categorias ou valores que podem ser importantes para an√°lise, limpeza ou visualiza√ß√£o.
* Pode auxiliar na detec√ß√£o de erros, inconsist√™ncias ou dados inesperados na coluna.

In [41]:
print('Informa√ß√µes Dispon√≠veis:')
print(df.columns.tolist())
info = input('Qual informa√ß√£o voc√™ quer saber? ')

try:
    if info not in df.columns:
        raise ValueError("Coluna n√£o encontrada.")
except ValueError as e:
    print(f'Erro: {e}')
else:
    df[info].unique()
    print(df[info].unique())

Informa√ß√µes Dispon√≠veis:
['Aluno', 'Turma', 'Nota', 'Mat√©ria Fav', 'Faltas']
Qual informa√ß√£o voc√™ quer saber? Aluno
['Jo√£o' 'Julio' 'Helo' 'Cynthia' 'C√°ssio' 'Julia' 'Fillipo' 'Fernanda'
 'Caio' 'Priscilla']

###**Filtrando Linhas com Valores Nulos no DataFrame**

---

Esse comando permite que voc√™ selecione todas as linhas do DataFrame que possuem pelo menos um valor nulo, facilitando a identifica√ß√£o e an√°lise dessas linhas para limpeza ou tratamento dos dados.

---

 üîç O que o c√≥digo faz:

```python
df.isnull()
```

* Cria um DataFrame booleano, onde cada c√©lula indica se o valor correspondente √© nulo (`True`) ou n√£o (`False`).

```python
df.isnull().any(axis=1)
```

* Para cada linha (`axis=1`), verifica se existe **qualquer** valor nulo (`True`).
* Retorna uma s√©rie booleana, onde `True` indica que a linha tem pelo menos um valor nulo.

```python
df[df.isnull().any(axis=1)]
```

* Usa essa s√©rie booleana para filtrar o DataFrame original, retornando **apenas as linhas que cont√™m valores nulos** em alguma coluna.

---

### ‚úÖ Vantagens:

* Facilita encontrar todas as linhas que precisam de aten√ß√£o para tratamento de dados ausentes.
* √ötil para an√°lises explorat√≥rias, para entender onde est√£o os dados faltantes.
* Permite a√ß√µes posteriores, como remo√ß√£o, preenchimento ou an√°lise espec√≠fica dessas linhas.

---

Quer que eu crie um texto assim para algum outro comando?

In [48]:
df[df.isnull().any(axis=1)]

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
5588,NaN,SE,FT,Product Manager,184500,USD,184500,US,0,US,M
59692,NaN,MI,FT,Engineer,110000,USD,110000,DE,0,DE,M
59710,NaN,EN,FT,Data Scientist,208800,USD,208800,US,0,US,M
59759,NaN,SE,FT,Software Engineer,135000,USD,135000,US,0,US,M
59789,NaN,SE,FT,Engineer,112000,USD,112000,US,0,US,M
131000,NaN,SE,FT,Machine Learning Engineer,163800,USD,163800,US,0,US,M
131006,NaN,SE,FT,Data Analytics Manager,204500,USD,204500,US,0,US,M
133054,NaN,EN,FT,Data Scientist,40000,USD,40000,JP,100,MY,L
133281,NaN,MI,FT,Machine Learning Engineer,180000,PLN,46597,PL,100,PL,L
133317,NaN,MI,FT,Data Scientist,130000,USD,130000,US,50,US,L

###**Cria√ß√£o Interativa de DataFrame Personalizado**

---

Este c√≥digo permite que o usu√°rio crie um DataFrame do zero, definindo o n√∫mero de linhas e colunas, nomeando as colunas e preenchendo manualmente os valores, inclusive podendo inserir valores nulos.

---

 üîç O que o c√≥digo faz:

```python
num_linhas = limite('Quantas linhas ter√° seu DataFrame (M√°x 20):', max_limit)
num_colunas = limite('Quantas colunas ter√° seu DataFrame (M√°x 20):', max_limit)
```

* Solicita ao usu√°rio o n√∫mero de linhas e colunas que o DataFrame ter√°, limitando a 20 para manter o tamanho manej√°vel.

```python
colunas = []
for i in range (num_colunas):
    nome = input(f'Digite o nome da coluna {i+1}: ')
    colunas.append(nome)
```

* Recebe o nome de cada coluna do DataFrame, garantindo que o usu√°rio personalize as etiquetas das colunas.

```python
for i in range (num_linhas):
    linha = []
    print(f"\n--- Preenchendo linha {i+1} ---")
    for col in colunas:
        valor = input(f'Insira o valor aqui para a coluna "{col}" (Ou digite NaN para deixar v√°zio): ')
        if valor.lower() == 'nan':
            linha.append(np.nan)
        else:
            linha.append(valor)
    dados.append(linha)
```

* Para cada linha, o c√≥digo pede ao usu√°rio que insira os valores de cada coluna.
* Se o usu√°rio digitar "NaN" (case-insensitive), o valor √© registrado como valor nulo (NaN) no DataFrame.

```python
DFN = pd.DataFrame(dados, columns=colunas)
print("\nDataFrame criado:")
print(DFN)
```

* Finalmente, os dados s√£o organizados em um DataFrame do Pandas com os nomes de colunas definidos pelo usu√°rio.
* O DataFrame criado √© exibido na tela para confer√™ncia.

---

### ‚úÖ Vantagens:

* Permite criar um DataFrame personalizado, ajustado √†s necessidades do usu√°rio.
* Facilita a inclus√£o manual de dados sem precisar criar arquivos externos.
* Suporta a cria√ß√£o de valores ausentes para simular dados reais incompletos.
* √ötil para testes, experimentos ou para aprender manipula√ß√£o de dados no Pandas.

In [43]:
import pandas as pd
import numpy as np

max_limit = 20

def limite(prompt, limit):
    while True:
      try:
          value = int(input(prompt))
          if 1 <= value <= limit:
              return value
          else:
              print(f"Digite um valor de 1 at√© {limit}.")
      except ValueError:
          print("Entrada inv√°lida. Por favor, digite um n√∫mero inteiro.")

num_linhas = limite('Quantas linhas ter√° seu DataFrame (M√°x 20):', max_limit)
num_colunas = limite('Quantas colunas ter√° seu DataFrame (M√°x 20):', max_limit)

colunas = []
for i in range (num_colunas):
          nome = input(f'Digite o nome da coluna {i+1}: ')
          colunas.append(nome)

dados = []
for i in range (num_linhas):
      linha = []
      print(f"\n--- Preenchendo linha {i+1} ---")
      for col in colunas:
          valor = input(f'Insira o valor aqui para a coluna "{col}" (Ou digite NaN para deixar v√°zio): ')
          if valor.lower() == 'nan':
              linha.append(np.nan)
          else:
              linha.append(valor)

      dados.append(linha)

DFN = pd.DataFrame(dados, columns=colunas)

print("\nDataFrame criado:")
print(DFN)

Quantas linhas ter√° seu DataFrame (M√°x 20):6
Quantas colunas ter√° seu DataFrame (M√°x 20):5
Digite o nome da coluna 1: Nome
Digite o nome da coluna 2: Idade
Digite o nome da coluna 3: Cidade
Digite o nome da coluna 4: Nota
Digite o nome da coluna 5: Faltas

--- Preenchendo linha 1 ---
Insira o valor aqui para a coluna "Nome" (Ou digite NaN para deixar v√°zio): Gabriela
Insira o valor aqui para a coluna "Idade" (Ou digite NaN para deixar v√°zio): 20
Insira o valor aqui para a coluna "Cidade" (Ou digite NaN para deixar v√°zio): Macap√°
Insira o valor aqui para a coluna "Nota" (Ou digite NaN para deixar v√°zio): 10
Insira o valor aqui para a coluna "Faltas" (Ou digite NaN para deixar v√°zio): 1

--- Preenchendo linha 2 ---
Insira o valor aqui para a coluna "Nome" (Ou digite NaN para deixar v√°zio): Julia
Insira o valor aqui para a coluna "Idade" (Ou digite NaN para deixar v√°zio): S√£o Paulo

KeyboardInterrupt: Interrupted by user

### üßπ Limpeza Interativa de Dados no DataFrame

---

Esse c√≥digo permite que o usu√°rio escolha um DataFrame e realize opera√ß√µes interativas para identificar, remover ou preencher valores ausentes, facilitando o tratamento de dados sem precisar digitar comandos manualmente.

---

### üîç O que o c√≥digo faz:

```python
nome_df = input('Qual DataFrame voc√™ quer limpar? ')
```

* Recebe do usu√°rio o nome do DataFrame que deseja limpar.

```python
def operations_limp(df_to_clean):
    print('\nEscolha a opera√ß√£o de limpeza que deseja realizar:')
    print('1 - Achar Valores Nulos')
    print('2 - Achar Valores N√£o Nulos')
    print('3 - Contar Valores Ausentes')
    print('4 - Remover Valores Ausentes')
    print('5 - Preencher Valor Ausente')
```

* Exibe um menu com as opera√ß√µes principais para limpeza dos dados.

```python
func = int(input('Digite o n√∫mero da opera√ß√£o: '))
match func:
    case 1:
        print(df_to_clean.isnull())
    case 2:
        print(df_to_clean.notnull())
    case 3:
        print(df_to_clean.isnull().sum())
    case 4:
        limpar_nulos(df_to_clean)
    case 5:
        preencher_nulos(df_to_clean)
```

* Executa a opera√ß√£o escolhida, mostrando os dados nulos ou n√£o, contando, removendo ou preenchendo valores ausentes.

---
| üéØ **Menu Principal** | **Descri√ß√£o**                                  |
|----------------------|------------------------------------------------|
| 1                    | Mostrar onde h√° valores nulos no DataFrame     |
| 2                    | Mostrar onde h√° valores n√£o nulos               |
| 3                    | Contar a quantidade de valores ausentes         |
| 4                    | Remover valores ausentes (linhas/colunas)       |
| 5                    | Preencher valores ausentes com estrat√©gias      |

---


### ‚ú® Opera√ß√µes para remover valores ausentes:

```python
def limpar_nulos(df_to_clean):
    print('Como Deseja Prosseguir?')
    print('1 - Remover Linhas Nulas')
    print('2 - Remover Colunas Nulas')
    print('3 - Remover Coluna Espec√≠fica')
    print('4 - Remover Linha Espec√≠fica')
```

* Oferece op√ß√µes para remover linhas, colunas, ou excluir linhas/colunas espec√≠ficas.

* Antes de aplicar, mostra informa√ß√µes do DataFrame e pede confirma√ß√£o do usu√°rio.

---

### ‚úçÔ∏è Estrat√©gias para preencher valores ausentes:

```python
def preencher_nulos(df_to_clean):
    print('Como Deseja Prosseguir?')
    print('1 - Preencher Todos os Nulos com um Valor Espec√≠fico')
    print('2 - Preencher Nulos de uma Coluna Espec√≠fica')
    print('3 - Preencher Nulos Espec√≠fico')
    print('4 - Preencher Nulos com a Mediana da Coluna')
    print('5 - Preencher Nulos com o Valor Mais Frequente (Moda)')
    print('6 - Preencher Nulos com o Valor da Linha Anterior (forward fill)')
    print('7 - Preencher Nulos com o Valor da Linha Seguinte (backward fill)')
```

* Permite preencher valores ausentes de formas variadas, incluindo valor fixo, mediana, moda e preenchimento baseado em valores vizinhos.

* Exibe antes informa√ß√µes e pede confirma√ß√£o para prosseguir.

---

### ‚úÖ Vantagens deste c√≥digo:

* Interface interativa simples para limpeza de dados.
* Permite encontrar, remover ou preencher valores ausentes com facilidade.
* Garante seguran√ßa pedindo confirma√ß√£o antes de alterar os dados.
* Facilita o processo de tratamento de dados para an√°lise e modelagem.
* Pode ser integrado facilmente em notebooks para an√°lise passo a passo.

---

### üí° Dicas para uso:

* Use esse c√≥digo em notebooks para facilitar a explora√ß√£o e limpeza dos dados.
* Pode ser adaptado para incluir mais opera√ß√µes ou melhorar a interface, por exemplo, com widgets interativos.
* Ideal para quem est√° come√ßando a trabalhar com limpeza de dados em Python.

In [47]:

print('Vamos realizar a Limpeza dos Dados')
nome_df = input('Qual DataFrame voc√™ quer limpar? ')
if nome_df in globals() and isinstance(globals()[nome_df], pd.DataFrame):
    df_to_clean = globals()[nome_df]


def operations_limp(df_to_clean):
    print('\nEscolha a opera√ß√£o de limpeza que deseja realizar:')
    print('1 - Achar Valores Nulos\n')
    print('2 - Achar Valores N√£o Nulos\n')
    print('3 - Contar Valores Ausentes\n')
    print('4 - Remover Valores Ausentes\n')
    print('5 - Preencher Valor Ausente\n')
    print('\n')

    try:
        func = int(input('Digite o n√∫mero da opera√ß√£o: '))

        match func:
            case 1:
                print(df_to_clean.isnull())
            case 2:
                print(df_to_clean.notnull())
            case 3:
                print(df_to_clean.isnull().sum())
            case 4:
                limpar_nulos(df_to_clean)
            case 5:
                preencher_nulos(df_to_clean)
            case _:
                print("Op√ß√£o inv√°lida.")
    except ValueError:
        print("Entrada inv√°lida. Digite um n√∫mero.")
        return




def limpar_nulos(df_to_clean):
    print('Vamos Realizar A Limpeza Dos Valores Ausentes:\n')
    print('Como Deseja Prosseguir?\n')
    print('1 - Remover Linhas Nulas')
    print('2 - Remover Colunas Nulas')
    print('3 - Remover Coluna Espec√≠fica')
    print('4 - Remover Linha Espec√≠fica')


    try:
        func_limp = int(input('Digite o n√∫mero da opera√ß√£o: '))
    except ValueError:
        print("Entrada inv√°lida. Digite um n√∫mero.")
        return df_to_clean

    match func_limp:
        case 1:
            print("Antes da limpeza:")
            df_to_clean.info()
            print("\nContagem de nulos por coluna:")
            print(df_to_clean.isnull().sum())
            print("\nPorcentagem de nulos por coluna:")
            print(df_to_clean.isnull().mean() * 100)
            print("\nPrimeiras Linhas do DF:")
            df_to_clean.head()

            prosseguir = input('Deseja continuar? (s/n): ')
            if prosseguir.lower() in ['s', 'sim']:
                df_cleaned = df_to_clean.dropna()
                print("\nDepois da limpeza:")
                print(df_cleaned.head())
                return df_cleaned
            else:
                print('Opera√ß√£o Cancelada.')
                return df_to_clean

        case 2:
            print("Antes da limpeza:")
            df_to_clean.info()
            print("\nContagem de nulos por coluna:")
            print(df_to_clean.isnull().sum())
            print("\nPorcentagem de nulos por coluna:")
            print(df_to_clean.isnull().mean() * 100)
            print("\nPrimeiras Linhas do DF:")
            df_to_clean.head()

            prosseguir = input('Deseja continuar? (s/n): ')
            if prosseguir.lower() in ['s', 'sim']:
                df_cleaned = df_to_clean.dropna(axis=1)
                print("\nDepois da limpeza:")
                print(df_cleaned.head())
                return df_cleaned
            else:
                print('Opera√ß√£o Cancelada.')
                return df_to_clean

        case 3:
            print("Antes da limpeza:")
            df_to_clean.info()
            print("\nContagem de nulos por coluna:")
            print(df_to_clean.isnull().sum())
            print("\nPorcentagem de nulos por coluna:")
            print(df_to_clean.isnull().mean() * 100)
            print("\nPrimeiras Linhas do DF:")
            df_to_clean.head()

            coluna_escolhida = input('Qual coluna deseja remover? ')
            if coluna_escolhida in df_to_clean.columns:
                df_cleaned = df_to_clean.drop(coluna_escolhida, axis=1)
                print("\nDepois da limpeza:")
                print(df_cleaned.head())
                return df_cleaned
            else:
                print('Coluna n√£o encontrada. Opera√ß√£o cancelada.')
                return df_to_clean

        case 4:
            print('\n Antes da Limpeza!')
            df_to_clean.head()
            prosseguir = input('Deseja continuar? (s/n): ')
            if prosseguir.lower() in ['s', 'sim']:
                try:
                    index = int(input("Digite o √≠ndice da linha que deseja remover: "))
                    if index in df_to_clean.index:
                        df_cleaned = df_to_clean.drop(index)
                        print("\nDepois da limpeza:")
                        print(df_cleaned.head())
                        return df_cleaned
                    else:
                        print("√çndice n√£o encontrado. Opera√ß√£o cancelada.")
                        return df_to_clean
                except ValueError:
                    print("√çndice inv√°lido.")
                    return df_to_clean

        case _:
            print("Op√ß√£o n√£o implementada.")
            return df_to_clean

def preencher_nulos(df_to_clean):
    print('Vamos Realizar o Preenchimento dos Valores Ausentes:\n')
    print('Como Deseja Prosseguir?\n')
    print('1 - Preencher Todos os Nulos com um Valor Espec√≠fico')
    print('2 - Preencher Nulos de uma Coluna Espec√≠fica')
    print('3 - Preencher Nulos Espec√≠fico')
    print('4 - Preencher Nulos com a Mediana da Coluna')
    print('5 - Preencher Nulos com o Valor Mais Frequente (Moda)')
    print('6 - Preencher Nulos com o Valor da Linha Anterior (forward fill)')
    print('7 - Preencher Nulos com o Valor da Linha Seguinte (backward fill)')

    try:
        func_fill = int(input('Digite o n√∫mero da opera√ß√£o: '))
    except ValueError:
        print("Entrada inv√°lida. Digite um n√∫mero.")
        return df_to_clean

    match func_fill:
        case 1:
            print("Antes da Altera√ß√£o:")
            df_to_clean.info()
            print("\nContagem de nulos por coluna:")
            print(df_to_clean.isnull().sum())
            print("\nPorcentagem de nulos por coluna:")
            print(df_to_clean.isnull().mean() * 100)
            print("\nPrimeiras Linhas do DF:")
            df_to_clean.head()

            prosseguir = input('Deseja continuar? (s/n): ')
            if prosseguir.lower() in ['s', 'sim']:
                valor = input('Digite o valor que deseja preencher os nulos: ')
                df_cleaned = df_to_clean(valor)
                print("\nDepois da Altera√ß√£o:")
                print(df_cleaned.head())
                return df_cleaned

        case 2:
            print("Antes da Altera√ß√£o:")
            df_to_clean.info()
            print("\nContagem de nulos por coluna:")
            print(df_to_clean.isnull().sum())
            print("\nPorcentagem de nulos por coluna:")
            print(df_to_clean.isnull().mean() * 100)
            print("\nPrimeiras Linhas do DF:")
            df_to_clean.head()

            prosseguir = input('Deseja continuar? (s/n): ')
            if prosseguir.lower() in ['s', 'sim']:
                try:
                    coluna_escolhida = input('Qual coluna deseja preencher? ')
                    if coluna_escolhida in df_to_clean.columns:
                        valor = input('Digite o valor que deseja preencher os nulos: ')
                        df_cleaned = df_to_clean.fillna(valor)
                        print("\nDepois da Altera√ß√£o:")
                        print(df_cleaned.head())
                        return df_cleaned
                    else:
                        print('Coluna n√£o encontrada.')
                except:
                    print('Erro na altera√ß√£o!')

        case 3:
            print("Antes da Altera√ß√£o:")
            df_to_clean.info()
            print("\nContagem de nulos por coluna:")
            print(df_to_clean.isnull().sum())
            print("\nPorcentagem de nulos por coluna:")
            print(df_to_clean.isnull().mean() * 100)
            print("\nPrimeiras Linhas do DF:")
            df_to_clean.head()

            prosseguir = input('Deseja continuar? (s/n): ')
            if prosseguir.lower() in ['s', 'sim']:
                try:
                    linha = int(input("Digite o √≠ndice da linha com valor nulo: "))
                    coluna = input("Digite o nome da coluna: ")
                    novo_valor = input("Digite o novo valor: ")
                    if pd.isna(df_to_clean.loc[linha, coluna]) or pd.isnull(df_to_clean.loc[linha, coluna]):
                        df_to_clean.loc[linha, coluna] = novo_valor
                        print("\nValor preenchido com sucesso!")
                        print("\nDepois da Altera√ß√£o:")
                        df_to_clean.info()
                        return df_to_clean
                    else:
                        print("O valor nesta c√©lula n√£o √© nulo.")
                except:
                    print('Erro na altera√ß√£o!')

        case 4:
            print("Antes da Altera√ß√£o:")
            df_to_clean.info()
            print("\nContagem de nulos por coluna:")
            print(df_to_clean.isnull().sum())
            print("\nPorcentagem de nulos por coluna:")
            print(df_to_clean.isnull().mean() * 100)
            print("\nPrimeiras Linhas do DF:")
            df_to_clean.head()

            prosseguir = input('Deseja continuar? (s/n): ')
            if prosseguir.lower() in ['s', 'sim']:
                try:
                    coluna_escolhida = input('Qual coluna deseja preencher com a mediana? ')
                    median_info = df_to_clean[coluna_escolhida].median()
                    df_cleaned = df_to_clean.copy()
                    df_cleaned[coluna_escolhida] = df_cleaned[coluna_escolhida].fillna(median_info)
                    print("\nDepois da Altera√ß√£o:")
                    print(df_cleaned.head())
                    return df_cleaned
                except:
                    print('Erro na altera√ß√£o!')

        case 5:
            print("Antes da Altera√ß√£o:")
            df_to_clean.info()
            print("\nContagem de nulos por coluna:")
            print(df_to_clean.isnull().sum())
            print("\nPorcentagem de nulos por coluna:")
            print(df_to_clean.isnull().mean() * 100)
            print("\nPrimeiras Linhas do DF:")
            df_to_clean.head()

            prosseguir = input('Deseja continuar? (s/n): ')
            if prosseguir.lower() in ['s', 'sim']:
                try:
                    coluna_escolhida = input('Qual coluna deseja preencher com a moda? ')
                    mode_info = df_to_clean[coluna_escolhida].mode()
                    if not mode_info.empty:
                        df_cleaned = df_to_clean.copy()
                        df_cleaned[coluna_escolhida] = df_cleaned[coluna_escolhida].fillna(mode_info[0])
                        print("\nDepois da Altera√ß√£o:")
                        print(df_cleaned.head())
                        return df_cleaned
                    else:
                        print('N√£o foi poss√≠vel obter a moda da coluna.')
                except:
                    print('Erro na altera√ß√£o!')

        case 6:
            print("Antes da Altera√ß√£o:")
            df_to_clean.info()
            print("\nContagem de nulos por coluna:")
            print(df_to_clean.isnull().sum())
            print("\nPorcentagem de nulos por coluna:")
            print(df_to_clean.isnull().mean() * 100)
            print("\nPrimeiras Linhas do DF:")
            df_to_clean.head()

            prosseguir = input('Deseja continuar? (s/n): ')
            if prosseguir.lower() in ['s', 'sim']:
                try:
                    df_cleaned = df_to_clean.ffill()
                    print("\nDepois da Altera√ß√£o:")
                    print(df_cleaned.head())
                    return df_cleaned
                except:
                    print('Erro na altera√ß√£o!')

        case 7:
            print("Antes da Altera√ß√£o:")
            df_to_clean.info()
            print("\nContagem de nulos por coluna:")
            print(df_to_clean.isnull().sum())
            print("\nPorcentagem de nulos por coluna:")
            print(df_to_clean.isnull().mean() * 100)
            print("\nPrimeiras Linhas do DF:")
            df_to_clean.head()

            prosseguir = input('Deseja continuar? (s/n): ')
            if prosseguir.lower() in ['s', 'sim']:
                try:
                    df_cleaned = df_to_clean.bfill()
                    print("\nDepois da Altera√ß√£o:")
                    print(df_cleaned.head())
                    return df_cleaned
                except:
                    print('Erro na altera√ß√£o!')

        case _:
            print("Op√ß√£o n√£o implementada.")
            return df_to_clean


operations_limp(df_to_clean)

Vamos realizar a Limpeza dos Dados
Qual DataFrame voc√™ quer limpar? df

Escolha a opera√ß√£o de limpeza que deseja realizar:
1 - Achar Valores Nulos

2 - Achar Valores N√£o Nulos

3 - Contar Valores Ausentes

4 - Remover Valores Ausentes

5 - Preencher Valor Ausente



Digite o n√∫mero da opera√ß√£o: 5
Vamos Realizar o Preenchimento dos Valores Ausentes:

Como Deseja Prosseguir?

1 - Preencher Todos os Nulos com um Valor Espec√≠fico
2 - Preencher Nulos de uma Coluna Espec√≠fica
3 - Preencher Nulos Espec√≠fico
4 - Preencher Nulos com a Mediana da Coluna
5 - Preencher Nulos com o Valor Mais Frequente (Moda)
6 - Preencher Nulos com o Valor da Linha Anterior (forward fill)
7 - Preencher Nulos com o Valor da Linha Seguinte (backward fill)
Digite o n√∫mero da opera√ß√£o: 4
Antes da Altera√ß√£o:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

Contagem de nulos por coluna:
work_year             10
experience_level       0
employment_type        0
job_title              0
salary                 0
salary_currency        0
salary_in_usd          0
employee_residence     0
remote_ratio           0
company_location       0
company_size           0
dtype: int64

Porcentagem de nulos por coluna:
work_year             0.007499
experience_level      0.000000
employment_type       0.000000
job_title             0.000000
salary                0.000000
salary_currency       0.000000
salary_in_usd         0.000000
employee_residence    0.000000
remote_ratio          0.000000
company_location      0.000000
company_size          0.000000
dtype: float64

Primeiras Linhas do DF:
Deseja continuar? (s/n): s
Qual coluna deseja preencher com a mediana? work_year

Depois da Altera√ß√£o:
   work_year experience_level employment_type           job_title  salary  \
0     2025.0               SE              FT  Solutions Engineer  214000
1     2025.0               SE              FT  Solutions Engineer  136000
2     2025.0               MI              FT       Data Engineer  158800
3     2025.0               MI              FT       Data Engineer  139200
4     2025.0               EN              FT       Data Engineer   90000

  salary_currency  salary_in_usd employee_residence  remote_ratio  \
0             USD         214000                 US           100
1             USD         136000                 US           100
2             USD         158800                 AU             0
3             USD         139200                 AU             0
4             USD          90000                 US             0

  company_location company_size
0               US            M
1               US            M
2               AU            M
3               AU            M
4               US            M

NameError: name 'df_cleaned' is not defined

# Aula 3

# Nova se√ß√£o